<head>
    <%= stylesheet_link_tag 'forms' %>
</head>

<% content_for :title, "#{I18n.t "users.confirm"}" %>

<div class='form-div'>
    <h1 class='title white'>
        <%= I18n.t "users.confirm" %>
    </h1>

    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
    <%= f.full_error :confirmation_token %>

    <div class="form-inputs">
        <%= f.input :email,
                  required: true, 
                  autofocus: true,
                  label: false,
                  placeholder: 'Email',
                  class: 'input',
                  value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                  input_html: { autocomplete: "email" } %>

        <div class="form-actions">
            <%= f.button :submit, "#{I18n.t "users.resend"}", class:'big-navbar-link button' %>
        </div>
        <% end %>

        <%= render "users/shared/links" %>
    </div>