<head>
    <%= stylesheet_link_tag 'articles-index' %>

    <style>
        .proyects-link {
            color: #CCC !important;
        }
    </style>
</head>

<% content_for :title, "#{I18n.t "shared.our_proyects"} | Olguitech s.a.s." %>

<% if @categories %>
    <div class="menu">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-minus-vertical" stroke-width="3" stroke="currentColor" fill="none">
            <path d="" />
        </svg>

        <% @categories.each do |category| %>
            <% if !category.proyectos.empty? %>
                <h4 class="menu-title">
                    <%= link_to category.get_short_title, category_path(category), class: "menu-link" %>
                </h4>
            <% else %>
                <h4 style="display: none;">
                </h4>
            <% end %>
        <% end %>
        <% if !@uncategorized.empty? %>
            <h4 class="menu-title">
                <%= t "index.uncategorized" %>
            </h4>
        <% end %>
    </div>

    <div class='articles-div'>
        <h1 class='index-title'>
            <%= I18n.t "shared.our_proyects" %>
        </h1>

        <%= render 'layouts/popup' %>

        <% @categories.each_with_index do |category, index| %>
            <% if !category.proyectos.empty? %>
                <div class="category" data-title="<%= category.get_short_title %>" id="<%= category.id %>" data-index="<%= index %>">
                    <h2> <%= category.get_title %> </h2>
                    <% category.proyectos.each do |article| %>
                        <%= render 'layouts/article_card', article: article %>
                    <% end %>
                </div>
            <% end %>
        <% end %>
        <% if !@uncategorized.empty? %>
            <div class="category" data-index="<%= @categories.length %>">
                <h2> <%= t "index.uncategorized" %> </h2>
                <% @uncategorized.each do |article| %>
                    <%= render 'layouts/article_card', article: article %>
                <% end %>
            </div>
        <% end %>
    </div>
<% else %>
    <div class='articles-div articles-div2'>
        <h1 class='index-title'>
            <%= I18n.t "shared.our_proyects" %>
        </h1>

        <%= render 'layouts/popup' %>

        <% @proyectos.each do |article| %>
            <%= render 'layouts/article_card', article: article %>
        <% end %>
    </div>
<% end %>

<%= javascript_pack_tag "index" %>
