<% content_for :title, "#{@proyecto.localized_title} | Olguitech s.a.s." %>
<% content_for :description, "#{@proyecto.localized_desc}" %>

<article>
    <h1 class='main-title'> <%= @proyecto.localized_title %> </h1>

    <p class='subtitle'> <%= @proyecto.localized_desc %> </p>

    <% if @proyecto.image.attached? %>
        <%= image_tag @proyecto.image.variant(saver: { quality: 85 }), class: 'article-img centered', alt: @proyecto.image.filename %>
    <% end %>

    <div class="content">
        <% if !@proyecto.categories.empty? %>
            <p class="article-categories">
                <%= "#{Category.model_name.human(count: @proyecto.categories.length)}:" %>
                <% @proyecto.categories.each do |category| %>
                    <%= link_to category.localized_title, category_path(category), class: "link" %><%= "#{@proyecto.categories.last != category ? ", " : ""}" %>
                <% end %>
            </p>
        <% end %>

        <div class='show-text'>
            <p class='article-text'> <%= @proyecto.localized_content %> </p>
        </div>
    </div>

    <% if !@proyecto.products.empty? %>
        <h1 class='main-title'>
            <%= t "show.products" %>
        </h1>
        <%= alternative_cards_for @proyecto.products %>
    <% end %>
</article>

<% if admin_signed_in? %>
    <div class="btn-group admin-tools admin-tools-2">
        <%= render partial: 'buttons', locals: { article: @proyecto } %>
    </div>
<% end %>
