<% content_for :title, "#{@proyecto.get_title} | Olguitech s.a.s." %>
<% content_for :description, "#{@proyecto.get_desc}" %>

<article>
    <h1 class='main-title'> <%= @proyecto.get_title %> </h1>

    <p class='subtitle'> <%= @proyecto.get_desc %> </p>

    <% if @proyecto.image.attached? %>
        <img src='<%= url_for(@proyecto.image) %>' class='article-img centered' alt='<%= @proyecto.image.filename %>'>
    <% end %>

    <div class="content">
        <% if !@proyecto.categories.empty? %>
            <p class="article-categories">
                <%= @proyecto.categories.length == 1 ? "#{t "categories.category"}: " : "#{t "categories.categories"}: " %>
                <% @proyecto.categories.each do |category| %>
                    <%= link_to category.get_title, category_path(category), class: "link" %><%= "#{@proyecto.categories.last != category ? ", " : ""}" %>
                <% end %>
            </p>
        <% end %>

        <div class='show-text'>
            <p class='article-text'> <%= @proyecto.get_content %> </p>
        </div>
        <i id='back-to-top' tabindex='0'>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-up" width="44" height="44" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" />
                <polyline points="6 15 12 9 18 15" />
            </svg>
        </i>
    </div>

    <% if !@proyecto.products.empty? %>
        <h1 class='main-title'>
            <%= t "show.products" %>
        </h1>
        <%= alternative_cards_for @proyecto.products %>
    <% end %>
</article>

<% if admin_signed_in? %>
    <div class="btn-group admin-tools admin-tools-2">
        <%= link_to "Editar", edit_proyecto_path(@proyecto), class: 'btn' %>

        <%= link_to "Eliminar", @proyecto, data: { turbo_method: :delete, turbo_confirm: 'Estas seguro de que queres eliminar el artículo?' }, class: 'btn is-danger' %>
    </div>
<% end %>