<%= form_with model: @message, id: 'message-form' do |form| %>
    <% if @user && @user.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@user.errors.count, 'error') %> <%= @user.errors.count > 1 ? t('contact.errors') : t('contact.error') %>:
            </h2>

            <ul>
                <% @user.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form big-card">
        <%= fields_for :user do |user_form| %>
            <div class="field">
                <%= user_form.label :name, I18n.t('users.name') %>
                <%= user_form.text_field :name %>
            </div>

            <div class="field">
                <%= user_form.label :email, 'Email *' %>
                <%= user_form.email_field :email %>
            </div>
        <% end %>

        <div class="field separate" data-controller="contacto">
            <%= form.label :content, t('contact.message') + ' *' %>
            <%= form.text_area :content,
                maxlength: 2000,
                style: 'height: 150px; margin-bottom: 0',
                data: {
                  contacto_target: "content",
                  action: "input->contacto#updateCounter"
                } %>
            <div style="text-align: right;">
                <span data-contacto-target="counter">0/2000</span>
            </div>
        </div>

        <div style="width: 100%; margin-bottom: 1rem;">
            <%= cloudflare_turnstile %>
        </div>

        <%= form.submit t('contact.ask').to_s, class: 'btn centered' %>
    </div>
<% end %>
