<h1 class="main-title">
    Nuestros últimos proyectos
</h1>

<div class="articles centered">
    <div class="grid">
        <div style="height: <%= rand(3.00...7.00) %>rem;"> </div>

        <% [ @proyectos[0], @proyectos[2] ].each do | article | %>
            <% if article %>
                <div class="card still">
                    <% if article.image.attached? %>
                        <%= image_tag article.image.variant(resize_to_limit: [40, 40]), data: {src: url_for(article.image)}, class: "article-img lazy", alt: article.image.filename %>
                    <% end %>

                    <div class="content">
                        <h2 class='title'> <%= article.get_title %> </h2>
                        <p class='big-text'> <%= article.get_desc %> </p>
                        <%= link_to "Ver más", article_path(article), class:'btn' %>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
    <div class="grid">
        <% [ @proyectos[1], @proyectos[3] ].each do | article | %>
            <% if article %>
                <div class="card still">
                    <% if article.image.attached? %>
                        <%= image_tag article.image.variant(resize_to_limit: [40, 40]), data: {src: url_for(article.image)}, class: "article-img lazy", alt: article.image.filename %>
                    <% end %>

                    <div class="content">
                        <h2 class='title'> <%= article.get_title %> </h2>
                        <p class='big-text'> <%= article.get_desc %> </p>
                        <%= link_to "Ver más", article_path(article), class:'btn' %>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>