<div class="articles-section still">
    <% @articles.each do |article| %>
    <div class='article'>
        <% if article.image.attached? %>
        <%= image_tag article.image.variant(resize_to_limit: [40, 40]), data: {src: url_for(article.image)}, class: "article-img lazy", alt: article.image.filename %>
        <% end %>

        <div class='sub-article-information'>
            <div class='article-information'>
                <h1 class='articles-title'> <%= I18n.t 'shared.our_solutions' %> </h1>

                <h2 class='article-title'> <%= article.get_short_title %> </h2>
                <p class='article-text'> <%= article.get_short_desc %> </p>

                <%= link_to article_path(article), class:'article-link', title: t('shared.see_more') do %>
                <%= render 'layouts/more' %>
                <% end %>
            </div>
        </div>
    </div>
    <% end %>

    <% if @articles.length > 1 %>
    <i id='previous' tabindex='0' role="button" aria-label="<%= I18n.t("main.previous_article") %>">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left" width="44" height="44" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <title> <%= I18n.t("main.previous_article") %> </title>
            <path stroke="none" d="M0 0h24v24H0z" />
            <polyline points="15 6 9 12 15 18" />
        </svg>
    </i>

    <i id='next' tabindex='0' role="button" aria-label="<%= I18n.t("main.next_article") %>">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="44" height="44" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <title> <%= I18n.t("main.next_article") %> </title>
            <path stroke="none" d="M0 0h24v24H0z" />
            <polyline points="9 6 15 12 9 18" />
        </svg>
    </i>
    <% end %>
</div>