<% content_for :title, "#{I18n.t 'contact.contact'} | Olguitech s.a.s." %>

<h1 class='main-title'> <%= t 'contact.how_can_we_help_you' %> </h1>

<% if (@user && @user.errors.any?) || (@message && @message.errors.any?) %>
    <div id="error_explanation">
        <h2>
            <%= pluralize(@user.errors.count + @message.errors.count, 'error') %> <%= @user.errors.count + @message.errors.count > 1 ? t('contact.errors') : t('contact.error') %>:
        </h2>

        <ul>
            <% if @user && @user.errors.any? %>
                <% @user.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            <% end %>

            <% if @message && @message.errors.any? %>
                <% @message.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_with model: @message do |form| %>
    <div class="form big-card" data-controller='new-contacto captcha'>
        <%= fields_for :user, @message.user do |user_form| %>
            <div class="field">
                <%= user_form.label :email, 'Email' %>
                <%= user_form.email_field :email %>
            </div>
        <% end %>

        <div class="field separate">
            <%= form.label :content, t('contact.how_can_we_help_you') %>
            <%= form.text_area :content, maxlength: 4000, style: 'height: 150px' %>
        </div>

        <%= hcaptcha_tags theme: :light, class: 'field separate centered', id: 'captcha' %>

        <%= form.submit t('contact.ask').to_s, class: 'btn centered' %>
    </div>
<% end %>

<div class="centered">
    <p class='big-text'>
        <%= t('contact.contact_html') %>
    </p>

    <p class="subtitle">
        <%= t 'contact.direction_html' %>
    </p>

    <div id="map" data-controller="contacto" data-contacto-map-default-zoom-value="15" data-contacto-longitude-value="-56.15627" data-contacto-latitude-value="-34.918624" class="centered location-container" alt='<%= I18n.t 'contact.direction_alt' %>'>
        <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
        <script src="https://openlayers.org/en/v4.6.5/build/ol.js" type="text/javascript" data-action="load->contacto#connect"></script>
    </div>
</div>
