<% content_for :nav, "transparent" %>

<head>
    <%= stylesheet_link_tag 'main' %>
</head>

<div class="front">
    <h2 class="main-title">Las últimas tendencias mundiales en ingeniería eléctrica.</h2>
    <p class='subtitle'>
        Te asesoramos cuando analices definir la compra de un insumo o cuando busques la forma de mejorar su proceso o instalación. 
        <strong> 
            En Olguitech, buscamos ser socios tecnológicos de nuestros clientes.
        </strong>
        <br>
        <br>
    </p>
    
    <%= link_to "Por qué elegir Olguitech?", nosotros_path, class: "btn centered" %>
</div>

<% if @articles.any? %>
    <%= render 'slideshow' %>
<% end %>

<% if @proyectos.any? %>
    <%= render 'slideshow2' %>
<% end %>

<%= render 'contacto' %>

<%= javascript_pack_tag 'main' %>
