<div class="front">
    <h1 class="main-title"><%= t '.title' %></h1>
    <p class='subtitle'>
        <%= t '.subtitle1' %> <br>
        <strong> <%= t '.subtitle2' %> </strong> <br> <br>
    </p>

    <%= link_to t('.why'), nosotros_path, class: 'btn centered' %>
</div>

<% if @articles.any? %>
    <div class="articles <%= 'projects' if @projects.empty? || @products.empty? %>">
        <h1 class="main-title">
            <%= t '.articles' %>
        </h1>
        <%= link_to t('general.see_all'), articles_path, class: 'btn centered' %>

        <%= cards_for @articles %>
    </div>
<% end %>

<% if @projects.any? %>
    <div class="<%= @products.any? ? 'projects' : 'products' %>">
        <h1 class="main-title">
            <%= t '.projects' %>
        </h1>
        <%= link_to t('general.see_all'), projects_path, class: 'btn centered' %>

        <%= cards_for @projects %>
    </div>
<% end %>

<% if @products.any? %>
    <div class="products">
        <h1 class="main-title">
            <%= t '.products' %>
        </h1>
        <%= link_to t('general.see_all'), products_path, class: 'btn centered' %>

        <%= alternative_cards_for @products %>
    </div>
<% end %>

<div class="contacto">
    <div class="contacto-sub-div">
        <h1 class='main-title'>
            <%= t '.interested' %>
        </h1>

        <p class="big-text">
            <%= t '.sign_up' %>
        </p>

        <%= link_to t('.contact'), "/#{I18n.locale}/contacto", class: 'btn' %>

        <div class="separator"> </div>

        <p class="big-text newsletter">
            <%= t '.subscribe_message_html' %>
        </p>

        <div class="form" data-controller='captcha'>
            <%= form_with model: @user, url: "/#{I18n.locale}/users/subscribe", method: :post do |form| %>
                <div class="field">
                    <%= form.label :email, 'Email' %>
                    <%= form.email_field :email %>
                </div>

                <%= hcaptcha_tags theme: :light, id: 'captcha' %>

                <%= form.submit t('.subscribe'), class: 'btn' %>
            <% end %>
        </div>
    </div>
</div>
