<% content_for :nav, "transparent" %>

<head>
    <%= stylesheet_link_tag 'main' %>
</head>

<div class="front">
    <h2 class="main-title">Las últimas tendencias mundiales en ingeniería eléctrica.</h2>
    <p class='subtitle'>
        Te asesoramos cuando analices definir la compra de un insumo o cuando busques la forma de mejorar su proceso o instalación. 
        <strong> 
            En Olguitech, buscamos ser socios tecnológicos de nuestros clientes.
        </strong>
        <br>
        <br>
    </p>
    
    <%= link_to "Por qué elegir Olguitech?", nosotros_path, class: "btn centered" %>
</div>

<% if @articles.any? %>
    <h1 class="main-title">
        Nuestros últimos artículos
    </h1>

    <%= cards_for @articles %>
<% end %>

<% if @proyectos.any? %>
    <h1 class="main-title">
        Nuestros últimos proyectos
    </h1>

    <%= cards_for @proyectos %>
<% end %>

<div class="big-card contacto centered">
    <h1 class='main-title'> Estás interesado en hablar con nosotros? </h1>

    <p class="big-text">
        Regístrate con nosotros para poder contactarte y acceder a nuestra newsletter o manda un mail a 
        
        <a class="link" href="mailto:olguitech@olguitech.com"> olguitech@olguitech.com </a>.
    </p>

    <%= link_to "Contactarse", contactos_path, class: "btn" %>
</div>

<%= javascript_pack_tag 'main' %>
