<% content_for :title, "#{I18n.t 'nosotros.who_are_we'} | Olguitech s.a.s." %>
<div class="nosotros-front">
    <div class="who-are-we">
        <h1 class="main-title centered">
            <%= I18n.t 'nosotros.who_are_we' %>
        </h1>
        <p class="subtitle">
            <%= I18n.t 'nosotros.who_are_we_subtitle' %>
        </p>
        <div class="countries">
            <div class="country"><span class="flag">🇺🇾</span><span>Uruguay</span></div>
            <div class="country"><span class="flag">🇦🇷</span><span>Argentina</span></div>
            <div class="country"><span class="flag">🇵🇾</span><span>Paraguay</span></div>
        </div>

        <p class="title centered" style="margin-bottom: 2rem;"><%= I18n.t 'nosotros.what_defines_us' %></p>
        <div class="two-col" style="">
            <div class="nosotros-card">
                <div class="nosotros-card-icon">
                    <svg class="ic" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                    </svg>
                </div>
                <h3>
                    <%= I18n.t 'nosotros.card1' %>
                </h3>
                <p>
                    <%= I18n.t 'nosotros.card1_subtitle' %>
                </p>
            </div>
            <div class="nosotros-card">
                <div class="nosotros-card-icon">
                    <svg class="ic" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                    </svg>
                </div>
                <h3>
                    <%= I18n.t 'nosotros.card2' %>
                </h3>
                <p>
                    <%= I18n.t 'nosotros.card2_subtitle' %>
                </p>
            </div>
            <div class="nosotros-card">
                <div class="nosotros-card-icon">
                    <svg class="ic" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
                    </svg>
                </div>
                <h3>
                    <%= I18n.t 'nosotros.card3' %>
                </h3>
                <p>
                    <%= I18n.t 'nosotros.card3_subtitle' %>
                </p>
            </div>
            <div class="nosotros-card">
                <div class="nosotros-card-icon">
                    <svg class="ic" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z" />
                    </svg>
                </div>
                <h3>
                    <%= I18n.t 'nosotros.card4' %>
                </h3>
                <p>
                    <%= I18n.t 'nosotros.card4_subtitle' %>
                </p>
            </div>
            <div>
        </div>
    </div>
    </div>


    <div class="how-are-we-different">
        <h1 class="main-title centered">
            <%= I18n.t 'nosotros.how_are_we_different' %>
        </h1>
        <p class="subtitle">
            <%= I18n.t 'nosotros.how_are_we_different_subtitle' %>
            <br>
            <%= link_to I18n.t('main.main.contact'), contacto_path, class: 'btn', style: 'text-align: right; margin-top: 1rem;' %>
        </p>
    </div>
</div>
