<div class='compact-card <%= article.status %>' id='<%= dom_id article %>'>
    <%= image_for article.image, resize: [720, 720] if article.model_name != 'Newsletter' && article.image.attached? %>

    <div>
        <h3> <%= article.localized_short_title %> </h3>

        <%= link_to 'Abrir', article, class: 'btn' unless @trash %>
        <% unless article.model_name == 'Newsletter'%>
            <% if current_page?(controller: 'dashboard', action: 'categories') %>
                <% ids_name = "#{article.model_name.singular}_ids" %>
                <% if article.categories.any? %>
                    <%= link_to 'Desasociar', category_path(category, params: { category: { ids_name => ([''] + category.send(ids_name.to_sym) - [article.id]) } }), data: { turbo_method: :patch, action: 'dashboard#update', dashboard_category_param: '1' }, class: 'btn' %>
                <% end %>
            <% else %>
                <%= render partial: "#{article.model_name.plural}/buttons", locals: { article: } %>
            <% end %>
        <% end %>
   </div>
</div>
