<div class='dashboard-card <%= article.status %>' id='<%= dom_id article %>'>
    <%= image_tag article.image.variant(saver: { quality: 60 }, resize_to_limit: [40, 40]), data: { src: url_for(article.image.variant(saver: { quality: 85 }, resize_to_limit: [1080, 1080])) }, class: 'lazy' if article.model_name != 'Newsletter' && article.image.attached? %>

    <div>
        <h3> <%= article.localized_short_title %> </h3>

        <%= link_to 'Abrir', article, class: 'btn' unless @trash %>
        <% begin %>
            <% ids_name = "#{article.model_name.singular}_ids" %>
            <%= link_to 'Desasociar', category_path(category, params: { category: { ids_name => ([""] + category.send(ids_name.to_sym) - [ article.id ]) } } ), data: { turbo_method: :patch, action: 'dashboard#update' }, class: 'btn' %>
        <% rescue %>
            <%= render partial: "#{article.model_name.plural}/buttons", locals: { article: article } %>
        <% end %>
   </div>
</div>
