<div class='compact-card'>
    <%= image_for article.image, resize: [720, 720] if article.image.attached? %>

    <div>
        <h3> <%= article.localized_short_title %> </h3>

        <%= link_to 'Abrir', article, class: 'btn' unless @trash %>

        <% if current_page?(controller: 'dashboard', action: 'categories') %>
            <%= link_to 'Editar', dashboard_edit_path(article), class: 'btn' %>

            <%= unrelate_category_link category, article if article.categories.any? %>
        <% elsif article.trashed? %>
            <%= update_status_link 'Sacar de la papelera', article, :drafted %>
            <%= delete_article_link article %>
        <% else %>
            <%= link_to 'Editar', dashboard_edit_path(article), class: 'btn' %>

            <% if article.drafted? %>
                <%= update_status_link 'Publicar', article, :published %>
            <% else %>
                <%= update_status_link 'Despublicar', article, :drafted %>
            <% end %>
            <%= update_status_link 'Mover a la papelera', article, :trashed, is_danger: true %>
        <% end %>
   </div>
</div>
