<div id='<%= dom_id category %>'>
    <h1 class='title'>
        <%= category.title %>
        <div class='btn-group' style='margin-left: 1rem;'>
            <%= link_to 'Editar', edit_category_path(category), class: 'btn' %>
            <%= link_to 'Abrir', category_path(category), class: 'btn' %>
            <%= link_to 'Eliminar', category_path(category), data: { turbo_method: :delete, turbo_confirm: 'Estás seguro?', action: 'dashboard#delete', dashboard_id_param: dom_id(category) }, class: 'btn is-danger' %>
        </div>
    </h1>

    <div class='dashboard-card-holder'>
        <% associated = [category.dashboard_solutions, category.dashboard_projects, category.dashboard_products].flatten %>
        <% associated.each do |article| %>
            <%= render 'dashboard/article', article:, category: %>
        <% end %>
    </div>
</div>
