<div class='compact-card' id="<%= dom_id newsletter %>">
    <div>
        <h3> <%= newsletter.localized_short_title %> </h3>

        <%= link_to 'Abrir', newsletter, class: 'btn' %>

        <% if newsletter.drafted? %>
            <%= link_to 'Editar', edit_newsletter_path(newsletter), class: 'btn' %>
            <%= update_status_link 'Enviar', newsletter, :sent %>
        <% end %>
   </div>
</div>
