<div class='dashboard-holder'>
    <%= render 'dashboard' %>

    <div class='dashboard' data-controller="dashboard"  data-action='turbo:submit-end@window->dashboard#refresh'>
        <% if @unsupercategorized.any? %>
            <h2 class='title centered'>
                Categorías sin Super categoría
            </h2>
            <div id='uncategorized_big_card' class='big-card' style='width: 100%; padding: 0.8rem;'>
                <% @unsupercategorized.each do |category| %>
                    <%= render 'dashboard/category', category: %>
                <% end %>
            </div>
        <% end %>

        <% if @uncategorized.any? %>
            <h2 class='title centered'>
                Artículos sin categoría
            </h2>
            <div id='uncategorized_big_card' class='big-card' style='width: 100%; padding: 0.8rem;'>
                <% @uncategorized.each do |uncategorized| %>
                    <%= render 'dashboard/article', article: uncategorized %>
                <% end %>
            </div>
        <% end %>

        <h1 class='main-title'> Categorías </h1>
        <div class="dropdown-holder" style="height: 2.5rem; display: flex;">
            <%= dropdown_for 'Nuevo' do %>
                <%= link_to Category.model_name.human, new_category_path, class: 'btn' %>
                <%= link_to 'Super Categoría', new_super_category_path, class: 'btn' %>
            <% end %>
        </div>

        <div id='super-categories'>
            <% @super_categories.each do |super_category| %>
                <%= render 'dashboard/super_category', super_category: %>
            <% end %>
        </div>
    </div>
</div>
