<% content_for :title, "Editar Cuenta" %>

<h1 class='main-title'>Panel</h1>


<div class="big-card">
    <div class="centered">
        <div class="btn-group" style="margin-bottom: 2rem;">
            <%= link_to 'Cerrar sesion', destroy_admin_session_path, data: { turbo_method: :delete }, class:'btn' %>
            <%= link_to 'Mail', "https://olguitech.com:2003/rainloop", target: :_blank, class:'btn' %>
            <div class="dropdown" style="width: 12rem;" data-controller="dropdown" data-dropdown-active-class="is-active">
                    <div class="dropdown-trigger">
                        <button class="btn" aria-haspopup="true" aria-controls="dropdown-menu" data-action="click->dropdown#display">
                            Nuevo
                            <span class="dropdown-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <polyline points="6 12 12 18 18 12" />
                                </svg>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu" data-dropdown-target="menu">
                        <%= link_to "Solucion", new_article_path, class: "btn" %>
                        <%= link_to "Proyecto", new_proyecto_path, class: "btn" %>
                        <%= link_to "Producto", new_product_path, class: "btn" %>
                        <%= link_to "Categoria", new_category_path, class: "btn" %>
                        <%= link_to "Newsletter", new_newsletter_path, class: "btn" %>
                    </div>
                </div>
            <%= link_to 'Usuarios', users_path, class:'btn' %>
        </div>
    </div>
    
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, data: { turbo: :false } }) do |f| %>
        <%= f.error_notification %>

        <div class="form">
            <div class="field">
                <%= f.label :email, "Email" %>
                <%= f.input :email,
                        required: true,
                        autofocus: true,
                        label: false %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <div class="field">
                <%= f.label :password, "Contraseña nueva" %>
                <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "new-password" },
                        label: false,
                        hint: 'Dejar vacío si no se quiere cambiar' %>
            </div>

            <div class="field">
                <%= f.label :password_confirmation, "Repetir contraseña nueva" %>
                <%= f.input :password_confirmation,
                        required: false,
                        input_html: { autocomplete: "new-password" },
                        label: false,
                        class: 'input' %>
            </div>

            <div class="field">
                <%= f.label :current_password, "Contraseña actual" %>
                <%= f.input :current_password,
                        required: true,
                        input_html: { autocomplete: "current-password" },
                        label: false,
                        class: 'input',
                        hint: 'Necesitamos tu contraseña actual' %>
            </div>

            <%= f.button :submit, "Editar", class:'btn centered' %>
        </div>
    <% end %>
</div>

<script>
    const password = document.querySelector('#user_password')
    passwordConfirmation = document.querySelector('#user_password_confirmation')

    passwordConfirmation.addEventListener('input', checkPassword)
    password.addEventListener('input', checkPasswordLength)

    function checkPassword() {
        if (password.value != passwordConfirmation.value) {
            passwordConfirmation.style.backgroundColor = 'red'
        } else {
            passwordConfirmation.style.backgroundColor = 'greenyellow'
        }
    }

    function checkPasswordLength() {
        if (password.value.length <= 7) {
            password.style.backgroundColor = 'red'
        } else {
            password.style.backgroundColor = 'greenyellow'
        }
    }
</script>