<head>
    <%= stylesheet_link_tag 'forms' %>
</head>

<% content_for :title, "Crear Cuenta" %>

<h1 class='main-title'>Crear Cuenta</h1>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form big-card">
        <div class="field">
            <%= f.label :name, "Nombre" %>
            <%= f.input :name,
                        label: false,
                        required: true,
                        autofocus: true,
                        class: 'input',
                        input_html: { autocomplete: "name" }%>
        </div>
        <div class="field">
            <%= f.label :email, "Email" %>
            <%= f.input :email,
                        label: false,
                        required: true,
                        class: 'input',
                        input_html: { autocomplete: "email" }%>
        </div>
        <div class="field">
            <%= f.label :password, "Contraseña, #{@minimum_password_length} caracteres mínimo" %>
            <%= f.input :password,
                        label: false,
                        required: true,
                        class: 'input',
                        input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="field">
            <%= f.label :password_confirmation, "Confirmar contraseña" %>
            <%= f.input :password_confirmation,
                        label: false,
                        required: true,
                        class: 'input',
                        input_html: { autocomplete: "new-password" } %>
        </div>

        <%= f.button :submit, 'Crear Cuenta', class:'btn centered' %>
    </div>
<% end %>

<script>
        const password = document.querySelector('#admin_password')
        passwordConfirmation = document.querySelector('#admin_password_confirmation')

        passwordConfirmation.addEventListener('input', checkPassword)
        password.addEventListener('input', checkPasswordLength)

        function checkPassword() {
            if (password.value != passwordConfirmation.value) {
                passwordConfirmation.style.backgroundColor = 'red'
            } else {
                passwordConfirmation.style.backgroundColor = 'greenyellow'
            }
        }

        function checkPasswordLength() {
            if (password.value.length <= 7) {
                password.style.backgroundColor = 'red'
            } else {
                password.style.backgroundColor = 'greenyellow'
            }
        }
    </script>

<div class="centered">
    <%= render "devise/shared/links" %>
</div>