<head>
    <%= stylesheet_link_tag 'forms' %>
</head>

<% content_for :title, "#{I18n.t "users.sign_in"}" %>

<div class='form-div'>
    <h1 class='title white'>
        <%= I18n.t "users.sign_in" %>
    </h1>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
        <%= f.input :email,
                  label: false,
                  required: false,
                  placeholder: 'Email',
                  autofocus: true,
                  class: 'input',
                  input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                  label: false,
                  required: false,
                  placeholder: "#{I18n.t "users.password"}",
                  class: 'input',
                  input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, inline_label: "#{I18n.t "users.remember_me"}", as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
        <%= f.button :submit, "#{I18n.t "users.sign_in"}", class:'big-navbar-link button' %>
    </div>
    <% end %>

    <%= render "users/shared/links" %>
</div>