<%= form_with model: @article do |form| %>
<div class="field">
    <%= form.label :title, "Título" %>
    <%= form.text_area :title, class:'title-textarea article-title show-title' %>

    <%= form.label :title2, "Título en ingles" %>
    <%= form.text_area :title2, class:'title-textarea article-title show-title' %>

    <%= form.label :image, 'Imagen' %>
    <%= form.file_field :image, class:'image-attacher', id:"fileInput" %> <br>
    <img class="image-upload" src="<%= url_for(@article.image) rescue "https://" %>" /> <br>

    <%= form.label :content, "Contenido" %>
    <%= form.rich_text_area :content, class:'rich-text' %>

    <%= form.label :content2, "Contenido en ingles" %>
    <%= form.rich_text_area :content2, class:'rich-text' %>

    <%= form.label :description, "Descripción" %>
    <%= form.text_area :description, class:'description-textarea' %>

    <%= form.label :description2, "Descripción en ingles" %>
    <%= form.text_area :description2, class:'description-textarea' %>

    <h2> Productos relacionados </h2>
    <%= form.collection_check_boxes :products, Product.all, :id, :title, include_hidden: false do |b| %>
    <% product = Product.find_by(title: b.text) %>
    <% if !@article.products.include? product %>
    <%= b.check_box %><%= b.label { b.text } %> <br>
    <% else %>
    <%= b.check_box(checked: true) %><%= b.label { b.text } %> <br>
    <% end %>
    <% end %>

    <%= form.submit 'Crear', class: "big-navbar-link", id: "button" %>
</div>
<% end %>

<button id="preview"> Previsualizar </button>

<div id='show'>
    <div class="preview-header">
        <h2> Previsualizacion </h2>
        <img src="/flag1.png" alt="<% I18n.t("shared.flag1")%>" class="flag preview-flag">

        <img src="/flag2.png" alt="<% I18n.t("shared.flag2")%>" class="flag preview-flag">

        <svg xmlns="http://www.w3.org/2000/svg" class="x" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <line x1="18" y1="6" x2="6" y2="18" />
            <line x1="6" y1="6" x2="18" y2="18" />
        </svg>
    </div>
    <article>
        <h2 class='article-title'> </h2>

        <p class='article-description'> </p>

        <img src='' class='article-img' alt=''>

        <div class='show-text'>
            <p class='article-text trix-content'> </p>
        </div>
    </article>
</div>

<%= javascript_pack_tag 'article-creator' %>