<head>
    <%= stylesheet_link_tag 'articles-index' %>

    <style>
        .articles-link {
            color: #CCC !important;
        }
    </style>
</head>

<% content_for :title, "Nuestras Solucines | Olguitech s.a.s." %>
<h1 class='index-title'> Nuestras Soluciones </h1>

<div class='articles-div'>
    <% @articles.each do |article| %>
    <div class='article still move'>
        <% if article.image.attached? %>
        <img src='<%= url_for(article.image) %>' class='article-img' alt='<%= article.image.filename %>'>
        <% end %>

        <div class='article-information'>
            <h2 class='article-title'> <%= article.title %> </h2>
            <p class='article-text'>
                <%= article.description %> <br>
            </p>

            <%= link_to article_path(article) do %>
            <%= render 'layouts/more' %>
            <% end %>
        </div>
    </div>
    <% end %>
</div>