<% content_for :title, "#{@article.localized_title} | Olguitech s.a.s." %>
<% content_for :description, "#{@article.localized_desc}" %>

<article>
    <h1 class='main-title'> <%= @article.localized_title %> </h1>

    <p class='subtitle'> <%= @article.localized_desc %> </p>

    <% if @article.image.attached? %>
        <img src='<%= url_for(@article.image) %>' class='article-img centered' alt='<%= @article.image.filename %>'>
    <% end %>

    <div class="content">
        <% if !@article.categories.empty? %>
            <p class="article-categories">
                <%= "#{Category.model_name.human(count: @article.categories.length)}:" %>
                <% @article.categories.each do |category| %>
                    <%= link_to category.localized_title, category_path(category), class: "link" %><%= "#{@article.categories.last != category ? ", " : ""}" %>
                <% end %>
            </p>
        <% end %>

        <div class='show-text'>
            <p class='article-text'> <%= @article.localized_content %> </p>
        </div>
    </div>

    <% if !@article.products.empty? %>
        <h1 class='main-title'>
            <%= t "show.products" %>
        </h1>
        <%= alternative_cards_for @article.products %>
    <% end %>
</article>

<% if admin_signed_in? %>
    <div class="btn-group admin-tools admin-tools-2">
        <%= link_to "Editar", edit_article_path(@article), class: 'btn' %>

        <%= link_to "Eliminar", @article, data: { turbo_method: :delete, turbo_confirm: 'Estas seguro de que queres eliminar el artículo?' }, class: 'btn is-danger' %>
    </div>
<% end %>
