<head>
    <%= stylesheet_link_tag 'forms' %>
</head>

<% content_for :title, "Reenviar instrucciones de desbloqueo" %>

<div class='form-div'>
    <h2 class='form-title'>Reenviar instrucciones de desbloqueo</h2>

    <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
    <%= f.full_error :unlock_token %>

    <div class="form-inputs">
        <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-actions">
        <%= f.button :submit, "Reenviar", class:'gold-button', id:'button' %>
    </div>
    <% end %>

    <%= render "admins/shared/links" %>
</div>