<% content_for :title, "#{@newsletter.title} | Olguitech s.a.s." %>

<article>
    <h1 class='main-title'> <%= @newsletter.localized_title %> </h1>

    <p class='subtitle'> <%= @newsletter.localized_desc %> </p>

    <div class="content" data-controller="image-displayer">
        <div class='show-text'>
            <p class='article-text'> <%= @newsletter.localized_content %> </p>
        </div>

        <div class='image-shower' data-image-displayer-target="shower" data-action="click->image-displayer#stopDisplayImage">
        </div>
    </div>

</article>

<% if admin_signed_in? %>
    <div class="btn-group admin-tools admin-tools-2">
        <% if @newsletter.status == 'drafted' %>
            <%= link_to 'Editar', edit_newsletter_path(@newsletter), class: 'btn'  %>
        <% end %>
        <%= link_to 'Mostrar en panel', "/#{I18n.locale}/dashboard/newsletters##{dom_id @newsletter}", class: 'btn'  %>
    </div>
<% end %>
