<% content_for :title, "#{@newsletter.title} | Olguitech s.a.s." %>

<article>
    <%= tag.h1 @newsletter.localized_title, class: 'main-title' %>

    <%= tag.p @newsletter.localized_desc, class: 'subtitle' %>

    <div class="content" data-controller="image-displayer">
        <%= @newsletter.localized_content %>

        <div class='image-shower' data-image-displayer-target="shower" data-action="click->image-displayer#stopDisplayImage">
        </div>
    </div>
</article>

<% if admin_signed_in? %>
    <div class="btn-group admin-tools">
        <% if @newsletter.status == 'drafted' %>
            <%= link_to 'Editar', edit_newsletter_path(@newsletter), class: 'btn' %>
        <% end %>
        <%= link_to 'Mostrar en panel', "/#{I18n.locale}/dashboard/newsletters##{dom_id @newsletter}", class: 'btn' %>
    </div>
<% end %>
