<% content_for :title, "#{t "contact.contact"} | Olguitech s.a.s." %>

<h1 class="main-title">
    <%= t "contact.how_can_we_help_you" %>
</h1>

<%= turbo_frame_tag "new_contact" do %>
    <% if @user && @user.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@user.errors.count, "error") %> <%= @user.errors.count > 1 ? t("contact.errors") : t("contact.error") %>:
            </h2>

            <ul>
                <% @user.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= form_with model: @contacto do |form| %>
        <div class="form big-card" data-controller='new-contacto'>
            <%= fields_for :user, @contacto.user do |user_form| %>
                <div class="field">
                    <%= user_form.label :email, "Email" %>
                    <%= user_form.email_field :email %>
                </div>
            <% end %>

            <span style='width: 50%'> </span>

            <%= form.fields_for :interests, @contacto.interests do |interests_form| %>
                <div class='form' style='margin: 0; width: 100%;' data-new-contacto-target='fields'>
                    <div class="field"> 
                        <%= interests_form.label :record_type, "Tipo de Artículo" %>
                        <%= interests_form.select :record_type, [[Article.model_name.human, 'Article'], [Project.model_name.human, 'Project'], [Product.model_name.human, 'Product']], {}, { data: { action: 'new-contacto#selectChange', new_contacto_target: 'select', id: '0' } } %>
                    </div>

                    <div class="field"> 
                        <%= interests_form.label :record_id, "Artículo" %>
                        <%= interests_form.collection_select :record_id, Article.all, :id, :localized_title, {}, { data: { new_contacto_target: 'article' } } %>
                        <%= interests_form.collection_select :record_id, Project.all, :id, :localized_title, {}, { data: { new_contacto_target: 'project' } } %>
                        <%= interests_form.collection_select :record_id, Product.all, :id, :localized_title, {}, { data: { new_contacto_target: 'product' } } %>
                    </div>
                </div>
            <% end %>

            <p class='btn centered' data-action="click->new-contacto#addFields">
                Adjuntar un artículo al mensaje
            </p>

            <div class="field separate">
                <%= form.label :message, "#{I18n.t "contact.how_can_we_help_you"}", class: 'preference' %>
                <%= form.text_area :message, maxlength: "4000" %>
            </div>

            <%= form.submit "#{t "contact.ask"}", class:'btn centered' %> 
        </div>
    <% end %>
<% end %>
