<% content_for :title, "#{t "contact.contact"} | Olguitech s.a.s." %>

<h1 class="main-title">
    <%= t "contact.how_can_we_help_you" %>
</h1>

<%= turbo_frame_tag "new_contact" do %>
    <% if @user && @user.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> impidieron que se pudiera mandar un mail:</h2>

            <ul>
                <% @user.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= form_with(model: @contacto) do |form| %>
        <div class="form big-card">
            <%= fields_for :user, @contacto.user do |user_form| %>
                <div class="field">
                    <%= user_form.label :email, "Email" %>
                    <%= user_form.email_field :email %>
                </div>
            <% end %>

            <div class="field">
                <%= form.label :preference, t("contact.preference") %>
                <%= form.collection_select :preference, Article.all, :id, :get_title %>
            </div>

            <div class="field">
                <%= form.label :preference2, t("contact.preference2") %>
                <%= form.collection_select :preference2, Proyecto.all, :id, :get_title %>
            </div>

            <div class="field separate">
                <%= form.label :message, "#{I18n.t "contact.how_can_we_help_you"}", class: 'preference' %>
                <%= form.text_area :message, maxlength: "4000" %>
            </div>

            <%= form.submit "#{t "contact.ask"}", class:'btn centered' %> 
        </div>
    <% end %>
<% end %>
