<head>
    <%= stylesheet_link_tag 'contacto' %>
</head>

<% content_for :title, "#{I18n.t "nav.contact"} | Olguitech s.a.s." %>

<%= simple_form_for @contacto do |form| %>
<div class="field">
    <h2 class='preference'>
        <%= I18n.t "contact.preference" %>
    </h2>
    <%= form.collection_select :preference, Article.all, :id, I18n.locale == :en ? :title2 : :title %>

    <h2 class='preference'>
        <%= I18n.t "contact.preference2" %>
    </h2>
    <%= form.collection_select :preference2, Proyecto.all, :id, I18n.locale == :en ? :title2 : :title %> <br>

    <%= form.label :message, "#{I18n.t "contact.message"}", class: 'preference' %> <br>
    <%= form.text_area :message, maxlength: "4000" %> <br>

    <%= form.button :submit, "#{I18n.t "contact.send"}", class:'big-navbar-link', id:'button' %>
</div>
<% end %>