<tr class="user-row" data-user-index-target="row" data-confirmed="<%= user.confirmed? ? 'true' : 'false' %>">
    <td>
        <div class="user-email">
            <% if user.confirmed? %>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <title>Usuario con mail confirmado</title>
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M5 12l5 5l10 -10" />
                </svg>
            <% end %>

            <%= mail_to user.email, class: 'link' %>
        </div>
    </td>

    <td> <%= user.name %> </td>

    <td> <%= user.company %> </td>

    <td> <%= phone_to user.phone, class: 'link' %> </td>

    <td> <%= user.newsletter ? 'Sí' : 'No' %> </td>

    <td>
        <% message_count = user.messages.count %>

        <span class="<%= message_count.positive? ? 'times-contacted' : '' %>">
            <% if message_count.positive? %>
                <%= link_to 'Ver', user_path(user), data: { turbo_frame: '_top' }, class: 'link' %>
            <% else %>
                0
            <% end %>
        </span>
    </td>

    <td> <%= user.locale == 'en' ? 'Inglés' : 'Español' %> </td>

    <td>
        <%= link_to 'Editar',
                    edit_user_path(user, edit_token: user.edit_token),
                    data: { turbo_frame: '_top' },
                    class: 'link' %>
        <%= link_to 'Eliminar',
                    url_for(controller: :users, action: :destroy, id: user.id, edit_token: user.edit_token, dashboard: 'true'),
                    class: 'link',
                    data: {
                        turbo_method: :delete,
                        turbo_confirm: "Se va a eliminar al usuario #{user.email} de forma irreversible. Estás seguro?"
                    } %>
    </td>
</tr>
