<head>
    <%= stylesheet_link_tag 'forms' %>
</head>

<% content_for :title, "#{I18n.t "nav.contact"} | Olguitech s.a.s." %>

<h1 class="main-title">
    Crear usuario
</h1>

<%= form_with model: @user do |form| %>
    <div class="form big-card">
        <div class="field">
            <%= form.label :name, "Nombre" %>
            <%= form.text_field :name %>
        </div>

        <div class="field">
            <%= form.label :email, "Email" %>
            <%= form.text_field :email, value: @user.email, disabled: true %>
        </div>

        <div class="field">
            <%= form.label :phone, "Telefono" %>
            <%= form.phone_field :phone %>
        </div>

        <div class="field">
            <%= form.label :company, "Compañia" %>
            <%= form.text_field :company %>
        </div>

        <%= form.submit t("contact.send"), class:'btn centered' %>
    </div>
<% end %>