<% content_for :title, 'Usuarios' %>

<%= turbo_frame_tag 'dashboard-users' do %>
    <div data-controller="user-index" data-user-index-hidden-class="hidden">
        <h1 class='main-title'> Usuarios </h1>

        <div class="field" id="user-index-field">
            <input class="centered" data-action="input->user-index#search" data-user-index-target="search" id="searchbar" type="text" name="search" placeholder="Buscar usuarios..">
        </div>

        <div class="table">
            <table class="user" id="users">
                <tr>
                    <th> Email </th>
                    <th> Nombre </th>
                    <th> Compañía </th>
                    <th> Teléfono </th>
                    <th> Newsletter? </th>
                    <th> Contactos </th>
                    <th> Idioma </th>
                    <th> Editar </th>
                </tr>

                <% @users.each do |user| %>
                    <%= render 'user', user: %>
                <% end %>
            </table>
        </div>

        <div class="new-user">
            <%= turbo_frame_tag 'new_user' do %>
                <%= link_to 'Crear nuevo usuario', new_user_path, class: 'btn centered' %>
            <% end %>
        </div>

        <% @contacted.each do |user| %>
            <div class='contact-info hidden' data-action="click->user-index#toggleShowContacts" data-id='<%= user.id %>' id='article-<%= user.id %>'>
                <% user.contactos.each do |contact| %>
                    <div class="big-card">
                        <p> <strong> Fecha: </strong> <%= contact.created_at.to_formatted_s(:long) %> </p>
                        <p> <strong> Mensaje: </strong> <%= contact.message %> </p>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
<% end %>
