<head>
    <%= stylesheet_link_tag 'users-index' %>
</head>

<% content_for :title, "Usuarios" %>

<div class='form-div'>
    <h1 class='form-title'> Usuarios </h1>

    <input id="searchbar" type="text" name="search" placeholder="Buscar usuarios..">

    <div class='table'>
        <table class="user">
            <tr>
                <th> ID </th>
                <th> Nombre </th>
                <th> Email </th>
                <th> Compañía </th>
                <th> Teléfono </th>
                <th> Newsletter? </th>
                <th> Solución </th>
                <th> Proyecto </th>
            </tr>
            <% @users.each do |user| %>
            <tr class='user-row'>
                <td> <%= user.id %> </td>

                <td> <%= user.name %> </td>

                <td> <%= user.email %> </td>

                <td> <%= user.company %> </td>

                <td> <%= user.phone %> </td>

                <td> <%= user.newsletter %> </td>

                <td> <%= user.contactos.last ? user.contactos.last.preference : "" %> </td>

                <td> <%= user.contactos.last ? user.contactos.last.preference2 : "" %> </td>
            </tr>
            <% end %>
        </table>
    </div>
</div>

<%= javascript_pack_tag 'user-index' %>