<% content_for :title, "Usuarios" %>

<%= turbo_frame_tag 'dashboard-users' do %>
    <div data-controller="user-index user-searchbar" data-user-index-hidden-class="hidden">
        <h1 class='main-title'> Usuarios </h1>

        <div class="field" id="user-index-field">
            <input class="centered" data-action="input->user-searchbar#search" data-user-searchbar-target="search" id="searchbar" type="text" name="search" placeholder="Buscar usuarios..">
        </div>

        <div class="table">
            <table class="user" id="users">
                <tr>
                    <th> ID </th>
                    <th> Nombre </th>
                    <th> Email </th>
                    <th> Compañía </th>
                    <th> Teléfono </th>
                    <th> Newsletter? </th>
                    <th> Veces Contactadas </th>
                    <th> Idioma </th>
                </tr>

                <% @users.each do |user| %>
                    <%= render 'user', user: user%>
                <% end %>
            </table>
        </div>

        <div class="new-user">
            <%= turbo_frame_tag "new_user" do %>
                <%= link_to "Crear nuevo usuario", new_user_path, class: "btn centered" %>
            <% end %>
        </div>

        <% @contacted.each do |user| %>
            <div class='contact-info hidden' data-action="click->user-index#toggleShowContacts" data-id='<%= user.id %>' id='article-<%= user.id %>'>
                <% user.contactos.each do |contact| %>
                    <div class="big-card">
                        <p> <strong> Fecha: </strong> <%= contact.created_at.to_formatted_s(:long) %> </p>
                        <p> <strong> Mensaje: </strong> <%= contact.message %> </p>
                        <p> <strong> Articulo 1: </strong> <%= Article.find(contact.preference).title rescue "Artícluo eliminado" %> </p>
                        <p> <strong> Articulo 2: </strong> <%= Proyecto.find(contact.preference2).title rescue "Artícluo eliminado" %> </p>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
<% end %>
