<h1 class="main-title">
    Crear usuarios
</h1>

<div class="big-card form">
    <%= turbo_frame_tag "new_user", target: "_top" do %>
        <%= form_with model: @user, data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }, class: "form" do |form| %>
            <div class="field">
                <%= form.label :email, "Email" %>
                <%= form.email_field :email %>
            </div>

            <div class="field">
                <%= form.label :name, "Nombre" %>
                <%= form.text_field :name %>
            </div>

            <div class="field">
                <%= form.label :phone, "Telfono" %>
                <%= form.phone_field :phone %>
            </div>

            <div class="field">
                <%= form.label :company, "Compañía" %>
                <%= form.text_field :company %>
            </div>

            <div class="checkbox-field">
                <%= form.check_box :auto_confirm, checked: true %>
                <%= form.label :auto_confirm, "Confirmar mail" %> <br>

                <%= form.check_box :newsletter, checked: true %>
                <%= form.label :newsletter, "Newsletters" %>
            </div>

            <div style="width: 50%;"> </div>

            <%= form.submit "Crear", class: 'btn centered' %>
        <% end %>
    <% end %>
</div>