<head>
    <%= stylesheet_link_tag 'nosotros' %>
</head>

<% content_for :title, "#{I18n.t "nosotros.who_are_we"} | Olguitech s.a.s." %>

<div class='nosotros-front'>
    <div class='nosotros-front-part'>
        <h2 class='quienes-somos'>
            <%= I18n.t "nosotros.who_are_we" %>
        </h2>
        <p class='quienes-somos-text'>
            <%= I18n.t "nosotros.who_are_we_message" %>
        </p>
    </div>
    <h2 class='quienes-somos'> <%= I18n.t "nosotros.how_are_we_different" %> </h2>
    <p class='quienes-somos-text'>
        <%= I18n.t "nosotros.how_are_we_different_message" %>
    </p>
</div>

<% if false %>
<div id='equipo-div'>
    <h1 class='nosotros-title'>Nuestro Equipo</h1>

    <div class='profiles'>
        <div class='profile'>
            <img src='/gente/hombre3.webp' class='profile-img'>
            <h2 class='profile-title'>
                Giovanni Romanutti
            </h2>

            <h3 class='profile-profession'>
                CEO
            </h3>
        </div>

        <div class='profile'>
            <img src='/gente/hombre2.webp' class='profile-img'>
            <h2 class='profile-title'>
                Pauhlo Sousa Schmidt
            </h2>

            <h3 class='profile-profession'>
                CTO
            </h3>
        </div>

        <div class='profile'>
            <img src='/gente/mujer1.webp' class='profile-img'>
            <h2 class='profile-title'>
                Lorena Martínez de Bulgheroni
            </h2>

            <h3 class='profile-profession'>
                HR Director
            </h3>
        </div>

        <div class='profile'>
            <img src='/gente/hombre1.webp' class='profile-img'>
            <h2 class='profile-title'>
                Harvey Brown
            </h2>

            <h3 class='profile-profession'>
                Electrical Engineer
            </h3>
        </div>

        <div class='profile'>
            <img src='/gente/mujer4.webp' class='profile-img'>
            <h2 class='profile-title'>
                Amelia Jones
            </h2>

            <h3 class='profile-profession'>
                Reaserch Intern
            </h3>
        </div>

        <div class='profile'>
            <img src='/gente/hombre4.webp' class='profile-img'>
            <h2 class='profile-title'>
                André Santos
            </h2>

            <h3 class='profile-profession'>
                Web Developer
            </h3>
        </div>

        <div class='profile'>
            <img src='/gente/mujer3.webp' class='profile-img'>
            <h2 class='profile-title'>
                Betty Rodríguez
            </h2>

            <h3 class='profile-profession'>
                Concierge
            </h3>
        </div>

        <div class='profile'>
            <img src='/gente/mujer2.webp' class='profile-img'>
            <h2 class='profile-title'>
                Tiffany Nguyen de Anchorena
            </h2>

            <h3 class='profile-profession'>
                Secretary
            </h3>
        </div>
    </div>
</div>
<% end %>

<%= javascript_pack_tag 'nosotros-index' %>