<% content_for :title, "#{@project.localized_title} | Olguitech s.a.s." %>
<% content_for :description, "#{@project.localized_desc}" %>

<article>
    <h1 class='main-title'> <%= @project.localized_title %> </h1>

    <p class='subtitle'> <%= @project.localized_desc %> </p>

    <% if @project.image.attached? %>
        <%= image_tag @project.image.variant(saver: { quality: 85 }), class: 'article-img centered', alt: @project.image.filename %>
    <% end %>

    <div class="content" data-controller="image-displayer">
        <% if !@project.categories.empty? %>
            <p class="article-categories">
                <%= "#{Category.model_name.human(count: @project.categories.length)}:" %>
                <% @project.categories.each do |category| %>
                    <%= link_to category.localized_title, category_path(category), class: "link" %><%= "#{@project.categories.last != category ? ", " : ""}" %>
                <% end %>
            </p>
        <% end %>

        <div class='show-text'>
            <p class='article-text'> <%= @project.localized_content %> </p>
        </div>

        <div class='image-shower' data-image-displayer-target="shower" data-action="click->image-displayer#stopDisplayImage">
        </div>
    </div>

    <% if !@project.products.empty? %>
        <h1 class='main-title'>
            <%= t "show.products" %>
        </h1>
        <%= alternative_cards_for @project.products %>
    <% end %>
</article>

<% if admin_signed_in? %>
    <div class="btn-group admin-tools admin-tools-2">
        <% if %w[drafted published].include?(@project.status) %>
            <%= link_to 'Editar', edit_project_path(@project), class: 'btn'  %>
            <%= link_to 'Mostrar en panel', "/#{I18n.locale}/dashboard##{dom_id @project}", class: 'btn'  %>
        <% else %>
            <%= link_to 'Mostrar en panel', "/#{I18n.locale}/dashboard/trash##{dom_id @project}", class: 'btn'  %>
        <% end %>
    </div>
<% end %>
