<h1><%= @user.name ? @user.name : @user.email %> se ha contactado</h1>

<p>
    <%= @message %>
</p>
<p>
    <strong>Prefiere:</strong> <%= @preference %>
</p>
<p>
    <strong>Email:</strong> <%= mail_to @user.email %>
</p>
<p>
    <strong>Idioma:</strong> <%= @locale %>
</p>
<p>
    <strong>Id:</strong> <%= @user.id %>
</p>
