<div>
    <h1><%= @user.name %> se ha contactado</h1>

    <p>
        <%= @message %>
    </p>
    <p>
        Prefiere: <%= @preference %>, y: <%= @preference2 %>
    </p>
    <p>
        Email: <%= @user.email %>
    </p>
    <p>
        Idioma: <%= @locale %>
    </p>
    <p>
        Id: <%= @user.id %>
    </p>
</div>