<% content_for :title, "Acceder" %>

<h1 class='main-title'>Acceder</h1>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { data: { turbo: :false } }) do |f| %>
    <div class="form big-card">
        <div class="field">
            <%= f.label :email, "Email" %>
            <%= f.input :email,
                        label: false,
                        required: false,
                        autofocus: true,
                        class: 'input',
                        input_html: { autocomplete: "email" } %>
        </div>

        <div class="field">
            <%= f.label :password, "Contraseña" %>
            <%= f.input :password,
                        label: false,
                        required: false,
                        class: 'input',
                        input_html: { autocomplete: "current-password" } %>
        </div>

        <div class="checkbox-field">
            <%= f.input :remember_me, inline_label: 'Recuérdame', as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div style="width: 100%;"></div>

        <%= f.button :submit, "Acceder", class:'btn centered' %>
    </div>
<% end %>

<div class="centered">
    <%= render "devise/shared/links" %>
</div>