<div style="background-color: #faf8f6; padding: 1rem 0 1rem 0;">
    <div style="max-width: 40rem; margin: 1rem auto 1rem auto; background-color: white; border-radius: 0.5rem; padding: 1rem;">
        <h1> <%= @title %> </h1>

        <%= @content %>
    </div>

    <%= link_to root_url, style: "display: block; width: 100%;" do %>
        <img src="https://olguitech.com/logo-muy-chico.png" style="display: block; margin-left: auto; margin-right: auto;" width="220px" height="90px">
    <% end %>

    <div style="text-align: center;">
        <%= link_to "Desuscribirse", url_for(controller: :users, action: :unsubscribe, newsletter_token: @token) %> |
        <%= link_to 'Editar usuario', url_for(controller: :users, action: :edit, id: @user.id, edit_token: @user.edit_token) %>
    </div>
</div>
