<head>
    <%= stylesheet_link_tag 'forms' %>
</head>

<% content_for :title, "Cambiar contraseña" %>

<div class='form-div'>
    <h2 class='form-title'>Cambiar contraseña</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <%= f.input :reset_password_token, as: :hidden %>
    <%= f.full_error :reset_password_token %>

    <div class="form-inputs">
        <%= f.input :password,
                  label: false,
                  required: true,
                  autofocus: true,
                  class: 'input',
                  placeholder: 'Nueva Contraseña',
                  hint: ("#{@minimum_password_length} caracteres mínimo" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                  label: false,
                  required: true,
                  class: 'input',
                  placeholder: 'Confirmar Nueva Contraseña',
                  input_html: { autocomplete: "new-password" } %>

        <div class="form-actions">
            <%= f.button :submit, "Cambiar", class:'gold-button', id:'button' %>
        </div>
        <% end %>
        <script>
            const password = document.querySelector('#user_password')
            passwordConfirmation = document.querySelector('#user_password_confirmation')

            passwordConfirmation.addEventListener('input', checkPassword)
            password.addEventListener('input', checkPasswordLength)

            function checkPassword() {
                if (password.value != passwordConfirmation.value) {
                    passwordConfirmation.style.backgroundColor = 'red'
                } else {
                    passwordConfirmation.style.backgroundColor = 'greenyellow'
                }
            }

            function checkPasswordLength() {
                if (password.value.length <= 6) {
                    password.style.backgroundColor = 'red'
                } else {
                    password.style.backgroundColor = 'greenyellow'
                }
            }
        </script>

        <%= render "users/shared/links" %>
    </div>