<head>
    <%= stylesheet_link_tag 'forms' %>
</head>

<% content_for :title, "#{I18n.t "users.forgot_password"}" %>

<div class='form-div'>
    <h2 class='form-title'>
        <%= I18n.t "users.forgot_password" %>
    </h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
        <%= f.input :email,
                  required: true, 
                  autofocus: true,
                  label: false,
                  class: 'input',
                  placeholder: 'Email' %>

        <div class="form-actions">
            <%= f.button :submit, "#{I18n.t "users.change"}", class:'big-navbar-link', id:'button' %>
        </div>
        <% end %>

        <%= render "users/shared/links" %>
    </div>