<%= form_with model: @category do |form| %>
    <div class="form">
        <div class="field">
            <%= form.label :title, "Título" %>
            <%= form.text_area :title, id: "title-1" %>
        </div>

        <div class="field">
            <%= form.label :title2, "Título en inglés" %>
            <%= form.text_area :title2, id: "title-2" %>
        </div>

        <div class="file">
            <%= form.label :image do %>
                <%= form.file_field :image, class:'image-attacher', id:"fileInput" %>
                <span>
                    Elegir una imagen...
                </span>
            <% end %>
        </div>

        <% url = url_for(@category.image) rescue "https://" %>
        <%= image_tag url, class:"image-upload centered"  %>

        <div class="checkbox-field">
            <%= form.label :products, "Productos relacionados" %> <br>
            <%= form.collection_check_boxes :product_ids, Product.all, :id, :get_title do |b| %>
                <%= b.check_box %>
                <%= b.label { b.text } %> <br>
            <% end %>
        </div>

        <div class="checkbox-field">
            <%= form.label :article, "Artículos relacionados" %> <br>
            <%= form.collection_check_boxes :article_ids, Article.all, :id, :get_title do |b| %>
                <%= b.check_box %>
                <%= b.label { b.text } %> <br>
            <% end %>
        </div>

        <div class="checkbox-field">
            <%= form.label :proyecto, "Proyectos relacionados" %> <br>
            <%= form.collection_check_boxes :proyecto_ids, Proyecto.all, :id, :get_title do |b| %>
                <%= b.check_box %>
                <%= b.label { b.text } %> <br>
            <% end %>
        </div>
    </div>

    <%= form.submit 'Crear', class: "btn centered", style: "margin-bottom: 2rem;"  %>
<% end %>
