<head>
    <%= stylesheet_link_tag 'category-index' %>
</head>

<% content_for :title, "#{I18n.t "categories.categories"} | Olguitech s.a.s." %>
<h1 class='index-title'> <%= I18n.t "categories.categories" %> </h1>

<div class='categories'>
    <% @categories.each do |category| %>
    <%= link_to category_path(category), class: "category-link" do %>
    <div class="category">
        <% if category.image.attached? %>
        <%= image_tag category.image, alt: category.image.filename, class: "category-img" %>
        <% end %>

        <div class="category-info">
            <h2 class="category-title">
                <%= category.get_short_title %>
            </h2>

            <p class="category-text">
                <%= category.get_short_desc %>
            </p>
        </div>
    </div>
    <% end %>
    <% end %>
</div>