<% content_for :title, "#{@category.localized_title} | Olguitech s.a.s." %>

<%= tag.h1 @category.localized_title, class: 'main-title' %>
<%= tag.p @category.localized_desc, class: 'subtitle' %>

<%= turbo_frame_tag 'category_selector', class: 'all-categories centered' do %>
    <%= link_to t('categories.all'), categories_path, class: 'btn' %>
<% end %>

<% if @products.any? %>
    <%= tag.h2 Product.model_name.human(count: 2), class: 'title centered' %>

    <%= compact_cards_for @products %>
<% end %>

<% if @solutions.any? %>
    <%= tag.h2 Solution.model_name.human(count: 2), class: 'title centered' %>

    <%= compact_cards_for @solutions %>
<% end %>

<% if @projects.any? %>
    <%= tag.h2 Project.model_name.human(count: 2), class: 'title centered' %>

    <%= compact_cards_for @projects %>
<% end %>

<% if admin_signed_in? %>
    <div class="btn-group admin-tools">
        <%= link_to 'Editar', edit_category_path(@category), class: 'btn' %>

        <%= link_to 'Eliminar', @category, data: { turbo_method: :delete, turbo_confirm: 'Estas seguro de que queres eliminar la categoría? Los artículos asociados no serán eliminados' }, class: 'btn is-danger' %>
    </div>
<% end %>
