<%= form_with model: @product do |form| %>
    <div class="form">
        <div class="field">
            <%= form.label :title, "Título" %>
            <%= form.text_area :title, id: "title-1" %>
        </div>

        <div class="field">
            <%= form.label :title2, "Título en inglés" %>
            <%= form.text_area :title2, id: "title-2" %>
        </div>

        <div class="file">
            <%= form.label :image do %>
                <%= form.file_field :image, class:'image-attacher', id:"fileInput" %>
                <span>
                    Elegir una imagen...
                </span>
            <% end %>
        </div>

        <% url = url_for(@product.image) rescue "https://" %>
        <%= image_tag url, class:"image-upload centered"  %>

        <div class="rich-text field">
            <%= form.label :content, "Contenido" %>
            <%= form.rich_text_area :content, id: "content-1" %>
        </div>

        <div class="rich-text field">
            <%= form.label :content2, "Contenido en inglés" %>
            <%= form.rich_text_area :content2, id: "content-2" %>
        </div>

        <div class="field">
            <%= form.label :description, "Descripción" %>
            <%= form.text_area :description, id: "desc-1" %>
        </div>

        <div class="field">
            <%= form.label :description2, "Descripción en inglés" %>
            <%= form.text_area :description2, id: "desc-2" %>
        </div>

        <div class="checkbox-field">
            <%= form.label :articles, "Artículos relacionados" %> <br>
            <%= form.collection_check_boxes :article_ids, Article.all, :id, :get_title do |b| %>
                <%= b.check_box %>
                <%= b.label { b.text } %> <br>
            <% end %>
        </div>
        
        <div class="checkbox-field">
            <%= form.label :proyectos, "Proyectos relacionados" %> <br>
            <%= form.collection_check_boxes :proyecto_ids, Proyecto.all, :id, :get_title do |b| %>
                <%= b.check_box %>
                <%= b.label { b.text } %> <br>
            <% end %>
        </div>

        <div class="checkbox-field">
            <%= form.label :categories, "Categorías" %> <br>
            <%= form.collection_check_boxes :category_ids, Category.all, :id, :get_title do |b| %>
                <%= b.check_box %>
                <%= b.label { b.text } %> <br>
            <% end %>
        </div>

        <div style="width: 50%;"> </div>

        <div class='btn-group centered'>
            <%= form.submit 'Crear', class: "btn" %>
            <a class="btn" id="preview"> Previsualizar </a>
        </div>
    </div>
<% end %>

<div id='preview-div'>
    <div class="preview-header centered">
        <h2> Previsualizacion </h2>
        <img src="/flag1.png" alt="<% I18n.t("shared.flag1")%>" class="flag preview-flag">

        <img src="/flag2.png" alt="<% I18n.t("shared.flag2")%>" class="flag preview-flag">
    </div>
    <article>
        <h2 class='main-title a-title'> </h2>

        <p class='subtitle'> </p>

        <img src='' class='article-img centered' alt=''>

        <div class="content">
            <div class='show-text'>
                <p class='article-text trix-content'> </p>
            </div>
        </div>
    </article>
</div>

<%= javascript_pack_tag 'article-creator' %>