<head>
    <%= stylesheet_link_tag 'index' %>

    <style>
        .products-link {
            color: #CCC !important;
        }
    </style>
</head>

<% content_for :title, "#{I18n.t "shared.our_products"} | Olguitech s.a.s." %>

<% if @categories %>
    <div class="menu">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-minus-vertical" stroke-width="3" stroke="black" fill="none">
            <path d="" />
        </svg>

        <% @categories.each do |category| %>
            <% if category.products.any? %>
                <h4 class="menu-title">
                    <%= link_to category.get_short_title, category_path(category), class: "link" %>
                </h4>
            <% else %>
                <h4 style="display: none;">
                </h4>
            <% end %>
        <% end %>
        <% if @uncategorized.any? %>
            <h4 class="menu-title">
                <%= link_to t("index.uncategorized"), url_for(order_by: :uncategorized, asc_desc: :desc), class: "link" %>
            </h4>
        <% end %>
    </div>

    <div class='articles-div'>
        <h1 class='main-title'>
            <%= I18n.t "shared.our_products" %>
        </h1>

        <%= render 'layouts/popup' %>

        <% @categories.each_with_index do |category, index| %>
            <% if !category.products.empty? %>
                <h2 class="title centered">
                    <%= category.get_title %> 
                </h2>

                <div class="category" data-title="<%= category.get_short_title %>" id="<%= category.id %>" data-index="<%= index %>">
                    <%= alternative_cards_for category.products %>
                </div>
            <% end %>
        <% end %>
        <% if !@uncategorized.empty? %>
            <h2 class="title centered">
                <%= t "index.uncategorized" %> 
            </h2>

            <div class="category" data-index="<%= @categories.length %>">
                <%= alternative_cards_for @uncategorized %>
            </div>
        <% end %>
    </div>
<% else %>
    <div class='articles-div articles-div2'>
        <h1 class='main-title'>
            <%= I18n.t "shared.our_products" %>
        </h1>

        <%= render 'layouts/popup' %>

        <%= alternative_cards_for @products %>
    </div>
<% end %>

<%= javascript_pack_tag "index" %>
