<% content_for :title, "#{@product.localized_title} | Olguitech s.a.s." %>
<% content_for :description, "#{@product.localized_desc}" %>

<div class="product">
    <div class="product-top">
        <% if @product.image.attached? %>
            <img src='<%= url_for(@product.image) %>' alt='<%= @product.image.filename %>'>
        <% end %>

        <div class="text">
            <% if @product.categories.any? %>
                <p class="article-categories">
                    <%= "#{Category.model_name.human(count: @product.categories.length)}:" %>
                    <% @product.categories.each do |category| %>
                        <%= link_to category.localized_title, category_path(category), class: "link" %><%= "#{@product.categories.last != category ? ", " : ""}" %>
                    <% end %>
                </p>
            <% end %>

            <h1 class='main-title'> <%= @product.localized_title %> </h1>
            <p class='subtitle'> <%= @product.localized_desc %> </p>
        </div>
    </div>

    <div class="content">
        <div class='show-text'>
            <p class='article-text'> <%= @product.localized_content %> </p>
        </div>
    </div>

    <% if @product.articles.any? %>
        <h1 class="main-title">
            <%= t "show.articles" %>
        </h1>
        <%= cards_for @product.articles %>
    <% end %>
    <% if @product.proyectos.any? %>
        <h1 class="main-title">
            <%= t "show.proyects" %>
        </h1>
        <%= cards_for @product.proyectos %>
    <% end %>
</div>

<% if admin_signed_in? %>
    <div class="btn-group admin-tools admin-tools-2">
        <%= link_to "Editar", edit_product_path(@product), class: 'btn' %>

        <%= link_to "Eliminar", @product, data: { turbo_method: :delete, turbo_confirm: 'Estas seguro de que queres eliminar el artículo?' }, class: 'btn is-danger' %>
    </div>
<% end %>