<% content_for :title, "#{@product.localized_title} | Olguitech s.a.s." %>
<% content_for :description, "#{@product.localized_desc}" %>

<div class="product">
    <div class="product-top">
        <% if @product.image.attached? %>
            <%= image_tag @product.image.variant(saver: { quality: 85 }), alt: @product.image.filename %>
        <% end %>

        <div class="text">
            <% if @product.categories.any? %>
                <p class="article-categories">
                    <%= "#{Category.model_name.human(count: @product.categories.length)}:" %>
                    <% @product.categories.each do |category| %>
                        <%= link_to category.localized_title, category_path(category), class: "link" %><%= "#{@product.categories.last != category ? ", " : ""}" %>
                    <% end %>
                </p>
            <% end %>

            <h1 class='main-title'> <%= @product.localized_title %> </h1>
            <p class='subtitle'> <%= @product.localized_desc %> </p>
        </div>
    </div>

    <div class="content" data-controller="image-displayer">
        <div class='show-text'>
            <p class='article-text'> <%= @product.localized_content %> </p>
        </div>

        <div class='image-shower' data-image-displayer-target="shower" data-action="click->image-displayer#stopDisplayImage">
        </div>
    </div>

    <% if @product.articles.any? %>
        <h1 class="main-title">
            <%= t "show.articles" %>
        </h1>
        <%= cards_for @product.articles %>
    <% end %>
    <% if @product.projects.any? %>
        <h1 class="main-title">
            <%= t "show.proyects" %>
        </h1>
        <%= cards_for @product.projects %>
    <% end %>
</div>

<% if admin_signed_in? %>
    <div class="btn-group admin-tools admin-tools-2">
        <% if %w[drafted published].include?(@product.status) %>
            <%= link_to 'Editar', edit_product_path(@product), class: 'btn'  %>
            <%= link_to 'Mostrar en panel', "/#{I18n.locale}/dashboard##{dom_id @product}", class: 'btn'  %>
        <% else %>
            <%= link_to 'Mostrar en panel', "/#{I18n.locale}/dashboard/trash##{dom_id @product}", class: 'btn'  %>
        <% end %>
    </div>
<% end %>
