<div class='super-category'>
    <div class="menu" data-controller="index">
        <h3> Categorías </h3>

        <% super_categories.each do |super_category_all| %>
            <div class='section'>
                <%= tag.p class: "link collapsible #{'active' if super_category.id == super_category_all.id}", data: { action: 'click->index#expandMenu' }, title: super_category_all.localized_title do %>
                    <span class="dropdown-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none"></path> <polyline points="6 12 12 18 18 12"></polyline> </svg></span>
                    <%= super_category_all.localized_title %>
                <% end %>

                <div class='collapsible-content <%= 'active' if super_category.id == super_category_all.id %>'>
                    <% super_category_all.categories.each do |category| %>
                        <%= link_to category.localized_title, url_for(params: { super_category_id: super_category_all.id }, anchor: category.id), class: 'link', title: category.localized_title %>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>

    <div class="articles-div">
        <%= tag.h1 "#{t 'super_category.area'} #{super_category.localized_title}", class: 'title centered sticky-title'%>

        <% super_category.categories.each do |category| %>
            <div class="category" id="<%= category.id %>">
                <%= tag.h2 category.localized_title, class: 'title centered' %>

                <div class='category-articles'>
                    <% category.send(model_name).each do |article| %>
                        <div id='<%= dom_id article %>' class='compact-card'>
                            <%= image_for article.image, resize: [720, 720] if article.image.attached? %>

                            <div>
                                <%= tag.h3 article.localized_short_title %>
                                <%= tag.p article.localized_short_desc %>

                                <%= link_to 'Ver más', article, class: 'btn' %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>
