<div id='<%= dom_id super_category %>'>
    <%= turbo_frame_tag "edit_super_category_#{super_category.id}" do %>
        <h1 class='title centered'>
            <%= super_category.title %>
                <div class='btn-group' style='margin-left: 1rem;'>
                    <%= link_to 'Editar', edit_super_category_path(super_category), class: 'btn' %>
                    <%= link_to 'Eliminar', super_category_path(super_category), data: { turbo_method: :delete, turbo_confirm: 'Estás seguro?', action: 'dashboard#delete', dashboard_id_param: dom_id(super_category) }, class: 'btn is-danger' %>
                </div>
        </h1>
    <% end %>

    <div class='big-card' style='width: 100%; padding: 0.8rem;'>
        <% super_category.dashboard_categories.each do |category| %>
            <div id='<%= dom_id category %>'>
                <h1 class='title'>
                    <%= category.title %>
                    <div class='btn-group' style='margin-left: 1rem;'>
                        <%= link_to 'Editar', edit_category_path(category), class: 'btn' %>
                        <%= link_to 'Abrir', category_path(category), class: 'btn' %>
                        <%= link_to 'Eliminar', category_path(category), data: { turbo_method: :delete, turbo_confirm: 'Estás seguro?', action: 'dashboard#delete', dashboard_id_param: dom_id(category) }, class: 'btn is-danger' %>
                    </div>
                </h1>

                <div class='dashboard-card-holder'>
                    <% associated = [category.dashboard_articles, category.dashboard_projects, category.dashboard_products].flatten %>
                    <% associated.each do |article| %>
                        <%= render 'dashboard/article', article:, category: %>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>
