<%= turbo_frame_tag 'super_categories' do %>
    <h1 class='main-title'> Categorías </h1>
    <%= link_to 'Nueva Categoría', new_category_path, class: 'btn centered' %>

    <div id ='super-categories'>
        <% @super_categories.each do |super_category| %>
            <%= render super_category %>
        <% end %>
    </div>

    <%= turbo_frame_tag 'new_super_category' do %>
        <%= link_to 'Crear nueva super categoría', new_super_category_path, class: 'btn centered' %>
    <% end %>
<% end %>
