<p style="color: green"><%= notice %></p>

<%= turbo_frame_tag 'super_category' do %>
    <% if !@super_categories.nil? && @super_categories.length != 1 %>
        <div class ='centered super-category-selector'>
        <p> Area: </p>
        <div class='btn-group centered'>
            <% @super_categories.each do |super_category| %>
                <%= link_to super_category.localized_title, super_category_path(super_category, params: { related_to: params[:related_to]}), class: 'btn centered' %>
            <% end %>
        </div>
        </div>
    <% end %>

    <div class='super-category'>
        <div class="menu" data-controller="index">
            <h3> Categorías </h3>

            <% @super_category.categories.each do |category| %>
                <%= link_to category.localized_title, "##{category.id}", class: 'link', title: category.localized_title, data: { action: 'index#scrollToAnchor' } %>
            <% end %>
        </div>

        <div class="articles-div">
            <% @super_category.categories.each do |category| %>
                <div class="category" id="<%= category.id %>">
                    <%= tag.h2 category.localized_title, class: 'title centered' %>

                    <% if @model_name == :products %>
                        <%= alternative_cards_for(category.send(@model_name).select(:id, :slug, :title, :title2, :description, :description2)) %>
                    <% else %>
                        <%= cards_for(category.send(@model_name).select(:id, :status, :slug, :title, :title2, :description, :description2).where(status: 0)) %>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
<% end %>
