<div class='articles-hoverable-div navbar-link' tabindex='0'>
    <h2 class='navbar-link' id='articles-hoverable'>
        <%= link_to (I18n.t 'nav.solutions'), articles_path, class:'articles-link' %>
    </h2>

    <div class='articles-hoverable-content'>
        <% @articles.each do |article| %>
        <%= link_to article_path(article) do %>
        <div class='articles-hoverable-article'>
            <% if article.image.attached? %>
            <%= image_tag article.image.variant(resize_to_limit: [40, 40]), data: {src: url_for(article.image)}, class: "article-hoverable-img lazy", alt: article.image.filename %>
            <% end %>

            <div class='articles-hoverable-article-content'>
                <h2> <%= article.get_short_title %> </h2>
                <p> <%= article.get_short_desc %> </p>
            </div>
        </div>
        <% end %>
        <% end %>
    </div>
</div>