<div class='articles-hoverable-div'>
    <h2 class='element navbar-link' id='articles-hoverable'> 
        <%= link_to 'Soluciones', articles_path, class:'articles-link' %>
    </h2>
    <div class='articles-hoverable-content'>
        <% Article.all.order(created_at: :desc).each do |article| %>
            <%= link_to article_path(article) do %>
                <div class='articles-hoverable-article'>
                    <% if article.image.attached? %>
                        <img data-src='<%= url_for(article.image) %>' class='article-hoverable-img articles-lazy' alt='<%= article.image.filename %>'>
                    <% end %>
                    
                    <div class='articles-hoverable-article-content'>
                        <h2> <%= article.title %> </h2>
                        <p> <%= article.description %> </p>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>