<div style="height: 2.5rem; display: flex;">
    <div class="dropdown centered" style="width: 15rem;">
        <div class="dropdown-trigger">
            <button class="btn" aria-haspopup="true" aria-controls="dropdown-menu">
                <%= t "index.sort_by" %>
                <span class="dropdown-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <polyline points="6 12 12 18 18 12" />
                    </svg>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <%= link_to t("index.category"), url_for(order_by: :categories, asc_desc: :desc), class: "btn" %>
            <%= link_to t("index.up_desc"), url_for(order_by: :updated_at, asc_desc: :desc), class: "btn" %>
            <%= link_to t("index.created_desc"), url_for(order_by: :created_at, asc_desc: :desc), class: "btn" %>
            <%= link_to t("index.created_asc"), url_for(order_by: :created_at, asc_desc: :asc), class: "btn" %>
            <%= link_to t("index.title_asc"), url_for(order_by: :title, asc_desc: :asc), class: "btn" %>
            <%= link_to t("index.title_desc"), url_for(order_by: :title, asc_desc: :desc), class: "btn" %>
        </div>
    </div>
</div>