<div class='element articles-hoverable-div proyects-hoverable-div navbar-link' tabindex='0'>
    <h2 class='element navbar-link' id='articles-hoverable'>
        <%= link_to (I18n.t 'nav.proyects'), proyectos_path, class:'proyectos-link' %>
    </h2>

    <div class='articles-hoverable-content' tabindex="1">
        <% @proyectos.each do |article| %>
        <%= link_to proyecto_path(article) do %>
        <div class='articles-hoverable-article'>
            <% if article.image.attached? %>
            <img data-src='<%= url_for(article.image) %>' class='article-hoverable-img proyects-lazy' alt='<%= article.image.filename %>'>
            <% end %>

            <div class='articles-hoverable-article-content'>
                <h2> <%= article.get_short_title %> </h2>
                <p> <%= article.get_short_desc %> </p>
            </div>
        </div>
        <% end %>
        <% end %>
    </div>
</div>