<div class='articles-hoverable-div proyects-hoverable-div'>
    <h2 class='element navbar-link' id='articles-hoverable'>
        <%= link_to 'Proyectos', proyectos_path,class:'proyectos-link' %>
    </h2>
    <div class='articles-hoverable-content'>
        <% Proyecto.all.order(created_at: :desc).each do |article| %>
        <%= link_to proyecto_path(article) do %>
        <div class='articles-hoverable-article'>
            <% if article.image.attached? %>
            <img data-src='<%= url_for(article.image) %>' class='article-hoverable-img proyects-lazy' alt='<%= article.image.filename %>'>
            <% end %>

            <div class='articles-hoverable-article-content'>
                <h2> <%= article.title.length > 50 ? article.title[0...50] + '...' : article.title %> </h2>
                <p> <%= article.description %> </p>
            </div>
        </div>
        <% end %>
        <% end %>
    </div>
</div>