<div class='articles-hoverable dropdown-articles-hoverable proyectos-link dropdown-clickable-div'>
    <h2 class='dropdown-clickable'><%= I18n.t 'nav.proyects' %>
        <svg xmlns="http://www.w3.org/2000/svg" class="dropdown-clickable icon icon-tabler icon-tabler-chevron-down" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" class="dropdown-clickable" />
            <polyline points=" 6 9 12 15 18 9" class="dropdown-clickable" />
        </svg>
    </h2>

    <div class="dropdown-clickable-extensible">
        <%= link_to I18n.t("shared.all"), proyectos_path, id: "extensible-link" %>
        <% @proyectos.each do |article| %>
            <%= link_to proyecto_path(article) do %>
                <div class='articles-hoverable-article article-hoverable-article2'>
                    <% if article.image.attached? %>
                        <%= image_tag article.image.variant(resize_to_limit: [40, 40]), data: {src: url_for(article.image)}, class: "article-hoverable-img article-hoverable-img2 lazy", alt: article.image.filename %>
                    <% end %>

                    <div class='articles-hoverable-article-content article-hoverable-content2'>
                        <h2> <%= article.get_short_title %> </h2>
                        <p> <%= article.get_short_desc %> </p>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
