<!DOCTYPE html>
<html lang='<%= I18n.locale %>'>

<head>
    <title><%= request.original_url.include?(yield(:title)) ? "Olguitech s.a.s." : yield(:title) %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= request.original_url.include?(yield(:description)) ? "Olguitech s.a.s. #{t "shared.engineering_solutions"} -- Uruguay" : yield(:description) %>">
    <meta name="theme-color" content="#121212">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="icon" href="/favicons/favicon.png" sizes="32x32">
    <link rel="apple-touch-icon" sizes="512x512" href="/apple-touch-icon.png">

    <%= javascript_pack_tag 'application', :defer => "defer", "data-turbolinks-track" => "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Varela+Round&display=swap" rel="stylesheet">     
</head>

<body>
    <% @articles = Article.all.order(created_at: :desc)

       @proyectos = Proyecto.all.order(created_at: :desc)
       
       @products = Product.all.order(created_at: :desc) %>

    <% if flash[:alert] %>
    <%= stylesheet_link_tag 'alert', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>

    <% if flash[:notice] %>
    <%= stylesheet_link_tag 'alert', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>

    <% if admin_signed_in? %>
    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>

    <nav>
        <div class="left-navbar-section">
            <%= link_to root_path do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox=" 0 0 4519 1856">
                    <title><%= t "shared.logo" %></title>
                    <path fill="#ffb03c" stroke-width="0" d="M 251,891.5 C 214,574 363,325 676,266 988,222 1206,412 1263,607 1263,607.5 1262,607 1204,627 1142,383 901,257 660,302 437,360 285,536 333.5,868 295,878 331,869 251,891 Z" />
                    <path fill="#f4923c" stroke-width="0" d="M 333,867 C 365,1055 583,1283 932,1177 1301,1035 1202,626 1204,626.7 1206,626 1263,606 1263,606 1263,606 1405,1083 990,1284 515,1457 279,1084 250,890.7 330.5,868 329,868 333,867.9 Z" />
                    <path fill="#5687b7" stroke-width="0" d="M 891,1653 C 438,1714 6,1346 50,878.9 118,260 668,189 668,189 668,189 669,188 671,224.3 511,237 177,424 176,817 207,1492 864,1410 864,1410 864,1410 864,1410 891,1653 Z M 777,588 C 739,588 709,602.3 687,630 666,659 655.8,699 655.8,751 655.8,803 666,843 687,872 709,900.7 739,915 777,915 816,915 846,900.7 868,872 889,843 900,803 900,751 900,699 889,659 868,630 846,602 816,588 777,588 Z M 777,496 C 856,496 918,518 963,563 1008,609 1030,671 1030,751 1030,831 1008,893 963,939 918,984 856,1007 777,1007 698,1007 636,984 592,939 547,893 524,831 524,751 524,671 547,609 592,563 636,518 698,496 777,496 Z M 1517,684 C 1497,684 1480,691 1469,707 1458,722 1452,744 1452,772 1452,799 1458,821 1469,836 1480,852 1497,860 1517,860 1538,860 1554,852 1566,836 1577,821 1583,799 1583,772 1583,744 1577,722 1566,707 1554,691.7 1538,684 1517,684 Z M 1517,635 C 1560,635 1593,647 1617,671 1641,695 1653,729 1653,772 1653,814 1641,848 1617,872 1593,896 1560,909 1517,909 1475,909 1442,896 1418,872 1394,848 1382,814 1382,772 1382,729 1394,695 1418,671 1442,647 1475,635 1517,635 Z M 1701,629 C 1701,629 1764,629 1764,629 1764,629 1764,904 1764,904 1764,904 1701,904 1701,904 1701,904 1701,629 1701,629 Z M 1959,870 C 1950,881 1940,890 1930,895 1919,901 1907,904 1893,904 1869,904 1849,894 1833,875 1818,856 1810,832 1810,802 1810,773 1818,749 1833,730 1849,711 1869,702 1893,702 1907,702 1919,704 1930,710 1940,715 1950,724 1959,736 1959,736 1959,706 1959,706 1959,706 2022,706 2022,706 2022,706 2022,883 2022,883 2022,915 2012,939 1992,956 1972,973 1943,982 1905,982 1892,982 1880,981 1869,979 1857,977 1846,974 1834,970 1834,970 1834,921 1834,921 1845,927 1856,932 1867,935 1877,938 1888,940 1899,940 1919,940 1934,935 1944,926 1954,917 1959,903 1959,883 1959,883 1959,870 1959,870 Z M 1917,748 C 1904,748 1894,752 1886,762 1879,771 1875,785 1875,803 1875,821 1879,834 1886,844 1893,853 1903,858 1917,858 1930,858 1940,853 1948,843 1955,834 1959,820 1959,803 1959,785 1955,771 1948,762 1940,752 1930,748 1917,748 Z M 2080,826 C 2080,826 2080,706 2080,706 2080,706 2143,706 2143,706 2143,706 2143,725 2143,725 2143,736 2143,749 2143,766 2143,782 2143,793 2143,798 2143,814 2143,825 2144,832 2145,839 2147,844 2149,848 2151,852 2155,855 2159,857 2163,859 2168,861 2173,861 2186,861 2197,855 2204,845 2212,835 2216,821 2216,803 2216,803 2216,706 2216,706 2216,706 2279,706 2279,706 2279,706 2279,904 2279,904 2279,904 2216,904 2216,904 2216,904 2216,875 2216,875 2206,886 2196,895 2185,900 2175,906 2163,909 2150,909 2127,909 2110,901 2098,887 2086,873 2080,853 2080,826 Z M 2339,706 C 2339,706 2402,706 2402,706 2402,706 2402,904 2402,904 2402,904 2339,904 2339,904 2339,904 2339,706 2339,706 Z M 2339,629 C 2339,629 2402,629 2402,629 2402,629 2402,681 2402,681 2402,681 2339,681 2339,681 2339,681 2339,629 2339,629 Z M 2531,650 C 2531,650 2531,706 2531,706 2531,706 2596,706 2596,706 2596,706 2596,751 2596,751 2596,751 2531,751 2531,751 2531,751 2531,835 2531,835 2531,844 2533,850 2536,854 2540,857 2547,859 2558,859 2558,859 2591,859 2591,859 2591,859 2591,904 2591,904 2591,904 2537,904 2537,904 2512,904 2494,898 2483,888 2473,877 2468,860 2468,835 2468,835 2468,751 2468,751 2468,751 2436,751 2436,751 2436,751 2436,706 2436,706 2436,706 2468,706 2468,706 2468,706 2468,650 2468,650 2468,650 2531,650 2531,650 Z M 2832,804 C 2832,804 2832,822 2832,822 2832,822 2684,822 2684,822 2685,837 2690,848 2700,855 2709,863 2722,867 2738,867 2752,867 2765,865 2779,861 2793,857 2807,851 2822,843 2822,843 2822,892 2822,892 2807,897 2792,901 2777,904 2762,907 2747,909 2732,909 2697,909 2669,899 2649,881 2629,863 2619,837 2619,805 2619,772 2629,747 2648,728 2668,710 2695,701 2729,701 2760,701 2785,710 2804,729 2822,747 2832,772 2832,804 Z M 2766,783 C 2766,771 2763,761 2756,754 2749,746 2740,743 2728,743 2716,743 2706,746 2699,753 2691,760 2686,770 2684,783 2684,783 2766,783 2766,783 Z M 3039,711 C 3039,711 3039,763 3039,763 3030,757 3022,752 3013,750 3004,747 2995,746 2986,746 2968,746 2955,751 2945,761 2935,771 2930,786 2930,805 2930,823 2935,838 2945,848 2955,858 2968,864 2986,864 2996,864 3005,862 3014,859 3023,856 3031,851 3039,846 3039,846 3039,898 3039,898 3029,901 3019,904 3009,906 2999,908 2988,909 2978,909 2942,909 2914,899 2894,881 2874,863 2864,837 2864,805 2864,772 2874,746 2894,728 2914,710 2942,701 2978,701 2988,701 2999,701 3009,703 3019,705 3029,707 3039,711 Z M 3292,783 C 3292,783 3292,904 3292,904 3292,904 3228,904 3228,904 3228,904 3228,812 3228,812 3228,794 3228,782 3227,776 3226,769 3225,765 3223,762 3221,757 3217,754 3213,752 3209,750 3204,749 3199,749 3185,749 3175,754 3168,764 3160,774 3156,788 3156,806 3156,806 3156,904 3156,904 3156,904 3093,904 3093,904 3093,904 3093,629 3093,629 3093,629 3156,629 3156,629 3156,629 3156,735 3156,735 3166,723 3176,714 3187,709 3197,703 3209,701 3222,701 3245,701 3262,708 3274,722 3286,736 3292,756 3292,783 Z M 3630,712 C 3630,712 3630,760 3630,760 3616,754 3603,750 3590,747 3578,744 3566,743 3555,743 3543,743 3534,744 3528,747 3522,750 3519,755 3519,761 3519,766 3521,770 3526,773 3530,775 3538,777 3550,779 3550,779 3561,780 3561,780 3593,784 3615,791 3626,801 3637,810 3643,825 3643,845 3643,866 3635,882 3619,893 3604,903 3581,909 3550,909 3537,909 3523,908 3509,906 3495,904 3481,901 3466,897 3466,897 3466,849 3466,849 3479,855 3492,859.5 3505,862 3518,865 3532,867 3545,867 3558,867 3567,865 3573,861 3580,858 3583,853 3583,846.8 3583,841 3581,836 3576,834 3572,831 3563,829 3551,827 3551,827 3539,826 3539,826 3511,822 3492,816 3480,806 3469,797 3463,782 3463,763 3463,742 3470,726 3485,716 3499,706 3521,701 3551,701 3563,701 3575,701 3588,703 3601,705 3614,708 3630,712 Z M 3695,836 C 3695,836 3759,836 3759,836 3759,836 3759,904 3759,904 3759,904 3695,904 3695,904 3695,904 3695,836 3695,836 Z M 3915,815 C 3901,815 3892,817 3885,821 3878,826 3875,832 3875,841 3875,849 3878,855 3883,860 3888,864 3896,867 3905,867 3917,867 3927,862 3935,854 3943,845 3948,835 3948,822 3948,822 3948,815 3948,815 3948,815 3915,815 3915,815 Z M 4011,790 C 4011,790 4011,904 4011,904 4011,904 3948,904 3948,904 3948,904 3948,875 3948,875 3939,886 3929,895 3919,900 3908,906 3895,909 3880,909 3860,909 3843,903 3830,891 3817,879 3811,863 3811,844 3811,821 3819,804 3835,793 3851,782 3876,777 3910,777 3910,777 3948,777 3948,777 3948,777 3948,771 3948,771 3948,761 3944,754 3936,749 3928,745 3915,743 3899,743 3885,743 3873,744 3861,747 3849,749 3838,753 3828,759 3828,759 3828,711 3828,711 3842,707 3856,705 3869,703 3883,701 3897,701 3910,701 3946,701 3972,708 3988,722 4003,736 4011,759 4011,790 Z M 4075,836 C 4075,836 4139,836 4139,836 4139,836 4139,904 4139,904 4139,904 4075,904 4075,904 4075,904 4075,836 4075,836 Z M 4361,712 C 4361,712 4361,760 4361,760 4347,754 4334,750 4321,747 4309,744 4297,743 4286,743 4274,743 4265,744 4259,747 4253,750 4250,755 4250,761 4250,766 4252,770 4257,773 4261,775 4269,777 4281,779 4281,779 4292,780 4292,780 4324,784 4346,791 4357,801 4368,810 4374,825 4374,845 4374,866 4366,882 4350,893 4335,903 4312,909 4281,909 4268,909 4254,908 4240,906 4226,904 4212,901 4197,897 4197,897 4197,849 4197,849 4210,855 4223,859 4236,862 4249,865 4263,867 4276,867 4289,867 4298,865 4304,861 4311,858 4314,853 4314,846 4314,841 4312,836 4307,834 4303,831 4294,829 4282,827 4282,827 4270,826 4270,826 4242,822 4223,816 4211,806 4200,797 4194,782 4194,763 4194,742 4201,726 4216,716 4230,706 4252,701 4282,701 4294,701 4306,701 4319,703 4332,705 4345,708 4361,712 Z M 4426,836 C 4426,836 4490,836 4490,836 4490,836 4490,904 4490,904 4490,904 4426,904 4426,904 4426,904 4426,836 4426,836 Z" />
                </svg>
            <% end %>
        </div>

        <%= render 'layouts/dropdown' %>

        <div class="right-navbar-section">
            <%= render 'layouts/hoverable', type: "products" %>
            <%= render 'layouts/hoverable', type: "articles" %>
            <%= render 'layouts/hoverable', type: "proyects" %>

            <h2 class='navbar-link'>
                <%= link_to (I18n.t 'nav.about_us'), nosotros_path, id: "nosotros-link" %>
            </h2>

            <h2 class='navbar-link'>
                <%= link_to (I18n.t 'nav.contact'), "/#{I18n.locale}/contacto", id: "contacto-link" %>
            </h2>

            <% if admin_signed_in? %>
            <h2 class='navbar-link' id="newsletter-link">
                <%= link_to 'Newsletters', newsletters_path, id: "newsletter-link" %>
            </h2>
            <% end %>

            <%= link_to url_for( :locale => 'en' ), class: "flag", title: I18n.t("shared.flag1"), rel: "alternate", hreflang: "en" do %>
            <img src="/flag1.png" alt="<% I18n.t("shared.flag1")%>">
            <% end %>
            <%= link_to url_for( :locale => 'es' ), class: "flag", title: I18n.t("shared.flag2"), rel: "alternate", hreflang: "es" do %>
            <img src="/flag2.png" alt="<% I18n.t("shared.flag2")%>">
            <% end %>

            <% if user_signed_in? %>
            <%= link_to (I18n.t 'nav.profile'), edit_user_registration_path, class: "big-navbar-link" %>
            <% else %>
            <%= link_to (I18n.t 'nav.sign_in'), new_user_session_path, class: "big-navbar-link" %>
            <% end %>

            <% if admin_signed_in? %>
            <%= link_to 'Admin', edit_admin_registration_path, class: "big-navbar-link" %>
            <% end %>
        </div>
    </nav>


    <% if flash[:alert] %>
    <div class='alert'>
        <p role="alert"> <%= alert %> </p>
        <i class='close-alert' cursor='pointer' tabindex='0' role="button" aria-label="<%= t "shared.alert" %>">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" />
                <line x1="18" y1="6" x2="6" y2="18" />
                <line x1="6" y1="6" x2="18" y2="18" />
            </svg>
        </i>
    </div>
    <% end %>


    <% if flash[:notice] %>
    <div class='notice'>
        <p role="alert"> <%= notice %> </p>
        <i class='close-notice' cursor='pointer' tabindex='0' role="button" aria-label="<%= t "shared.notice" %>">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" />
                <line x1="18" y1="6" x2="6" y2="18" />
                <line x1="6" y1="6" x2="18" y2="18" />
            </svg>
        </i>
    </div>
    <% end %>

    <main>
        <%= yield %>

        <% if admin_signed_in? %>
        <div id='admin-tools'>
            <%= link_to new_category_path, class: 'right-tool' do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-folders icon-tabler-circle-plus" width="55" height="55" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M9 4h3l2 2h5a2 2 0 0 1 2 2v7a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2" />
                <path d="M17 17v2a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2h2" />
            </svg>
            <% end %>

            <%= link_to new_product_path, class: 'right-tool' do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-floppy icon-tabler-circle-plus" width="55" height="55" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2" />
                <circle cx="12" cy="14" r="2" />
                <polyline points="14 4 14 8 8 8 8 4" />
            </svg>
            <% end %>


            <%= link_to new_article_path, class: 'right-tool' do %>
            <i class='articles-fas'>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-plus" width="55" height="55" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <circle cx="12" cy="12" r="9" />
                    <line x1="9" y1="12" x2="15" y2="12" />
                    <line x1="12" y1="9" x2="12" y2="15" />
                </svg>
            </i>
            <% end %>
            <%= link_to new_proyecto_path, class: 'right-tool' do %>
            <i class='articles-fas'>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-plus" width="55" height="55" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <rect x="4" y="4" width="16" height="16" rx="2" />
                    <line x1="9" y1="12" x2="15" y2="12" />
                    <line x1="12" y1="9" x2="12" y2="15" />
                </svg>
            </i>
            <% end %>

            <%= link_to new_newsletter_path, class: 'right-tool' do %>
            <i class='articles-fas'>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-news" width="55" height="55" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M16 6h3a1 1 0 0 1 1 1v11a2 2 0 0 1 -4 0v-13a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1v12a3 3 0 0 0 3 3h11" />
                    <line x1="8" y1="8" x2="12" y2="8" />
                    <line x1="8" y1="12" x2="12" y2="12" />
                    <line x1="8" y1="16" x2="12" y2="16" />
                </svg>
            </i>
            <% end %>

            <%= link_to user_index_path, class: 'right-tool' do %>
            <i class='articles-fas'>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users" width="55" height="55" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <circle cx="9" cy="7" r="4" />
                    <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                    <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                    <path d="M21 21v-2a4 4 0 0 0 -3 -3.85" />
                </svg>
            </i>
            <% end %>
        </div>
        <% end %>
    </main>

    <%= javascript_pack_tag 'all' %>

    <% if flash[:alert] %>
    <%= javascript_pack_tag 'alert' %>
    <% end %>

    <% if flash[:notice] %>
    <%= javascript_pack_tag 'notice' %>
    <% end %>
</body>

</html>