<!DOCTYPE html>
<html lang='<%= I18n.locale %>'>

<head>
    <title>
        <%= 'Dev - ' if Rails.env == 'development' %>
        <%= content_for(:title) || 'Olguitech s.a.s.' %>
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= content_for(:description) || "Olguitech s.a.s. #{t 'shared.engineering_solutions'} -- Uruguay" %>">
    <meta name="theme-color" content="#FFFFFF">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="icon" href="/favicons/favicon.png" sizes="32x32">
    <link rel="apple-touch-icon" sizes="512x512" href="/apple-touch-icon.png">

    <%= javascript_importmap_tags %>

    <% if admin_signed_in? %>
        <script type='module'> import "trix"; </script>
    <% end %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track' => 'reload' %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;900&display=swap" rel="stylesheet">
</head>

<body>
    <% if admin_signed_in? %>
        <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbo-track' => 'reload' %>
    <% end %>

    <nav data-controller="dropdown-bars" data-dropdown-bars-show-class="show" data-dropdown-bars-move-class="move">
        <div class="left-navbar-section">
            <%= link_to root_path do %>
                <%= image_tag 'logos/logo.svg', class: 'logo', width: '100%', height: '100%', alt: 'Logo' %>
            <% end %>
        </div>

        <i id='dropdown-bars' data-action="click->dropdown-bars#display click@window->dropdown-bars#stopDisplayingWhenOutside" data-dropdown-bars-target="bars" tabindex='0' role="button" aria-label="<%= t 'shared.dropdown' %>">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu" width="44" height="44" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" />
                <line data-dropdown-bars-target='line1' class="line1" x1="4" y1="8" x2="20" y2="8" />
                <line data-dropdown-bars-target='line2' class="line2" x1="4" y1="16" x2="20" y2="16" />
            </svg>
        </i>

        <div class="right-navbar-section" data-dropdown-bars-target="menu">
            <%= link_to Solution.model_name.human(count: 2), solutions_path, class: "link #{'active' if controller_name == 'solutions'}" %>

            <%= link_to Project.model_name.human(count: 2), projects_path, class: "link #{'active' if controller_name == 'projects'}" %>

            <%= link_to Product.model_name.human(count: 2), products_path, class: "link #{'active' if controller_name == 'products'}" %>

            <%= link_to t('nav.about_us'), nosotros_path, class: "link #{'active' if @nosotros}" %>

            <%= dropdown_for I18n.locale == :es ? t('general.es') : t('general.en'), icon: true do %>
                <%= link_to url_for(locale: I18n.locale == :es ? :en : :es), class: 'btn', hreflang: I18n.locale == :es ? :en : :es do %>
                    <%= I18n.locale != :es ? t('general.es') : t('general.en') %>
                <% end %>
            <% end %>

            <%= link_to t('nav.contact'), contacto_path, class: 'btn' %>

            <% if admin_signed_in? %>
                <%= link_to 'Panel', "/#{I18n.locale}/dashboard", class: 'btn' %>
            <% end %>
        </div>
    </nav>

    <% if flash[:alert] %>
        <div class='alert' data-controller="alert">
            <p role="alert"> <%= alert %> </p>
            <i class='close-alert' cursor='pointer' data-action="click->alert#close" tabindex='0' role="button" aria-label="<%= t 'shared.alert' %>">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <line x1="18" y1="6" x2="6" y2="18" />
                    <line x1="6" y1="6" x2="18" y2="18" />
                </svg>
            </i>
        </div>
    <% end %>

    <% if flash[:notice] %>
        <div class='notice' data-controller="alert">
            <p role="alert"> <%= notice %> </p>
            <i class='close-notice' data-action="click->alert#close" cursor='pointer' tabindex='0' role="button" aria-label="<%= t 'shared.notice' %>">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <line x1="18" y1="6" x2="6" y2="18" />
                    <line x1="6" y1="6" x2="18" y2="18" />
                </svg>
            </i>
        </div>
    <% end %>

    <main data-controller="intersection-observer">
        <%= yield %>
    </main>
</body>

</html>
