<head>
    <%= stylesheet_link_tag 'forms' %>
</head>

<% content_for :title, "#{I18n.t "users.sign_up"}" %>

<div class='form-div'>
    <h2 class='form-title'>
        <%= I18n.t "users.sign_up" %>
    </h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
        <%= f.input :name,
                  placeholder: "#{I18n.t "users.name"}",
                  label: false,
                  required: true,
                  autofocus: true,
                  class: 'input',
                  input_html: { autocomplete: "name" }%>
        <%= f.input :email,
                  placeholder: 'Email',
                  label: false,
                  required: true,
                  class: 'input',
                  input_html: { autocomplete: "email" }%>
        <%= f.input :phone,
                  placeholder: "#{I18n.t "users.phone"}",
                  label: false,
                  required: true,
                  class: 'input',
                  input_html: { autocomplete: "phone" }%>
        <%= f.input :company,
                  placeholder: "#{I18n.t "users.company"}",
                  label: false,
                  class: 'input',
                  required: true %>
        <%= f.input :password,
                  placeholder: "#{I18n.t "users.password"}, #{@minimum_password_length} #{I18n.t "users.minimum_characters"}",
                  label: false,
                  required: true,
                  class: 'input',
                  input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                  placeholder: "#{I18n.t "users.confirm_password"}",
                  label: false,
                  required: true,
                  class: 'input',
                  input_html: { autocomplete: "new-password" } %>
        <%= f.input :newsletter,
                  inline_label: 'Newsletter',
                  required: true,
                  as: :boolean %>
    </div>

    <%= javascript_pack_tag 'user' %>

    <div class="form-actions">
        <%= f.button :submit, "#{I18n.t "users.sign_up"}", class:'gold-button', id:'button' %>
    </div>
    <% end %>

    <%= render "users/shared/links" %>
</div>